<section id="conference">
  <div class="container">

    <div class="main">
      <form [formGroup]="formCreateConference">
        <div class="row d-flex align-items-center konf-pref rounded-3" style="padding: 0px;">
          <div class="d-inline-flex align-items-center col-8">
            <div class="conf-name-adress text-black">
              Конференции / {{this.currentConference != null ? "Изменение \"" + this.currentConference.title +"\"" :
              "Создание"}}
            </div>
          </div>
          <div class="d-inline-flex align-items-center col-4 text-black" *ngIf="isAdmin()" style="height: 17px;">
            Администратор
            <div class="conf-name-adress-2 text-black" style="width: 100%;">
              <div class="form-floating mb-3">

                <div style="padding: 10px; margin-top: 15px;" class="dropdown">
                  <button style="height: 47px; width: 100%; border: #8C99B9 solid 1px;" data-bs-auto-close="outside" class="btn bg-white  text-center text-black dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Изменить
                  </button>
                  <ul style="width: calc(100% - 20px); padding-left: 10px;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li *ngFor="let user of admins">
                              <div class="form-check align-items-center" style="width: 100%;">
                                  <input formControlName="admin{{user.id}}" (change)="updateAdmin()" class="form-check-input" type="checkbox" id="{{ user.id }}" />
                                  <label class="form-check-label " style="width: 100%; margin-top: 3px;" for="{{ user.id }}">{{ user.firstName + " " + user.lastName }}</label>
                              </div>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="rounded-3 row konf-information" style="padding-right: 5px;">
          <div class="row" style="margin-bottom: 20px; margin-top: -15px;">
            <div class="col-10 conf-title text-black" style="padding: 0px; padding-right: 16px;" [ngClass]="{'has-error': (formCreateConference.get('confName')?.invalid && formCreateConference.get('confName')?.touched || this.isNameExists)}">
              <label class="main-text" for="floatingInput">Название конференции <span
                  style="color: red;">*</span></label>
              <input [attr.disabled]="!isMasterModeratorOfThisConference() ? true : null" type="text" class="form-control section-text text-black" formControlName="confName"
                     id="floatingInput">
            </div>
            <div class="col-2 conf-title text-black" style="padding: 0px;">
              <label class="main-text" for="floatingInput">Статус <span style="color: red;">*</span></label>
              <select [attr.disabled]="!isMasterModeratorOfThisConference() ? true : null" class="form-control section-text text-black text-center" style="height: 47px; padding: 10px;"
                      formControlName="confStatus" (change)="updateStatus($event)">
                <option selected [ngValue]="undefined" style="font-size: 16px; color: black;">Выберите</option>
                <option *ngFor="let status of conferenceStatusList">{{ status }}</option>
              </select>
            </div>
            <div class="col-4" style="padding-left: 0px;" [ngClass]="{'has-error': formCreateConference.get('organization')?.invalid && formCreateConference.get('organization')?.touched}">
              <label class="second-text" for="floatingInput">Организация <span style="color: red;">*</span></label>
              <input [attr.disabled]="!isMasterModeratorOfThisConference() ? true : null" type="text" class="form-control section-text text-black" formControlName="organization"
                     id="floatingInput">
            </div>
            <div class="col-4 text-center" [ngClass]="{'has-error': formCreateConference.get('date_start')?.invalid && formCreateConference.get('date_start')?.touched}">
              <label class="second-text" for="floatingInput">Дата начала <span style="color: red;">*</span></label>
              <input [attr.disabled]="!isMasterModeratorOfThisConference() ? true : null" type="date" class="form-control section-text text-black" formControlName="date_start"
                     id="floatingInput">
            </div>
            <div class="col-4 text-end" style="padding-right: 0px;" [ngClass]="{'has-error': formCreateConference.get('date_end')?.invalid && formCreateConference.get('date_end')?.touched}">
              <label class="second-text" for="floatingInput">Дата завершения <span style="color: red;">*</span></label>
              <input [attr.disabled]="!isMasterModeratorOfThisConference() ? true : null" type="date" class="form-control section-text text-black" formControlName="date_end"
                     id="floatingInput">
            </div>

            <div class="col-12" style="margin-bottom: 10px; padding: 0px; margin-top: 15px;" [ngClass]="{'has-error': formCreateConference.get('description')?.invalid && formCreateConference.get('description')?.touched}">
              <label class="second-text" for="floatingInput">Описание <span style="color: red;">*</span></label>
              <textarea [attr.disabled]="!isMasterModeratorOfThisConference() ? true : null" style="white-space: pre-wrap; min-height: 250px;" rows="10" type="text"
                        class="form-control section-area text-black" formControlName="description"
                        id="floatingInput"></textarea>
            </div>
          </div>

          <div class="row" style="margin-top: 50px; margin-bottom: 0px;">
            <div class="row conf-info-section-item">
              <div class="col-12 conf-info-section" style="padding-right: 5px;">
                <div style="padding: 10px" class="conf-section-title form-control text-center text-white">Секции</div>
              </div>
            </div>
          </div>

          <div *ngIf="this.currentAdmins" formArrayName="sections">
            <div *ngFor="let section of sections.controls; let i = index" [formGroupName]="i">
              <div class="row conf-info-section">
                <div class="col-6" style="padding-left: 0px; margin-bottom: 0px;">
                  <label class="second-text strong text-black" for="floatingInput"></label>
                  <input [readonly]="!isLeaderSection(i)" type="text" class="form-control section-text text-black" formControlName="title" placeholder="Название секции" id="floatingInput">
                </div>

                <div class="col-2">
                  <div *ngIf="isMasterModeratorOfThisConference()" style="padding: 10px; margin-top: 15px;" class="dropdown">
                    <button style="height: 47px; width: 100%; border: #8C99B9 solid 1px;" data-bs-auto-close="outside" class="btn bg-white text-center text-black dropdown-toggle" type="button" [id]="'dropdownMenuButtonLeaders' + i" data-bs-toggle="dropdown" aria-expanded="false">
                      Руководители
                    </button>
                    <ul formArrayName="leaders" style="width: calc(100% - 5px); padding-left: 10px;" class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButtonLeaders' + i">
                      <li *ngFor="let user of leadSecArray(i).controls; let j = index" [formGroupName]="j">
                        <div class="form-check align-items-center" style="width: 100%;">
                          <input *ngIf="isMasterModeratorOfThisConference() ? this.currentUser.id != user.get('id')?.value : null" formControlName="selected" class="form-check-input" type="checkbox" [id]="'leader' + i + j"/>
                          <label class="form-check-label" style="width: 100%; margin-top: 3px;" [for]="'leader' + i + j">
                            {{ user.get('name')?.value }}
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div *ngIf="!isMasterModeratorOfThisConference()" style="padding: 10px; margin-top: 15px;">
                    <input [attr.disabled]="isMasterModeratorOfThisConference()" type="text" class="form-control section-text text-center text-black"
                           [value]="countLeadSecArray(i) !== 0 ? getStringLeadSecArray(i) : 'Не назначен'" [readonly]="true">
                  </div>
                </div>

                <div class="col-2">
                  <div *ngIf="isMasterModeratorOfThisConference()" style="padding: 10px; margin-top: 15px;" class="dropdown">
                    <button style="height: 47px; width: 100%; border: #8C99B9 solid 1px;" data-bs-auto-close="outside" class="btn bg-white text-center text-black dropdown-toggle" type="button" [id]="'dropdownMenuButtonLeaders' + i" data-bs-toggle="dropdown" aria-expanded="false">
                      Рецензенты
                    </button>
                    <ul formArrayName="reviewers" style="width: calc(100% - 5px); padding-left: 10px;" class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButtonLeaders' + i">
                      <li *ngFor="let user of reviewSecArray(i).controls; let j = index" [formGroupName]="j">
                        <div class="form-check align-items-center" style="width: 100%;">
                          <input formControlName="selected" class="form-check-input" type="checkbox" [id]="'reviewer' + i + j"/>
                          <label class="form-check-label" style="width: 100%; margin-top: 3px;" [for]="'reviewer' + i + j">
                            {{ user.get('name')?.value }}
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div *ngIf="!isMasterModeratorOfThisConference()" style="padding: 10px; margin-top: 15px;">
                    <input [attr.disabled]="isMasterModeratorOfThisConference()" type="text" class="form-control section-text text-center text-black"
                           [value]="countReviewSecArray(i) !== 0 ? getStringReviewSecArray(i) : 'Не назначен'" [readonly]="true">
                  </div>
                </div>

                <div *ngIf="!section.get('title')?.disabled" class="col-2" style="padding-left: 0px; margin-bottom: 0px;">
                  <label class="second-text strong text-black" for="floatingInput"></label>
                  <button class="form-control rounded-3 btn section-text bg-black text-white" type="button" [disabled]="section.get('title')?.value === ''" (click)="disableSection(i)">Сохранить</button>
                </div>
                <div *ngIf="section.get('title')?.disabled" class="col-1" style="padding-left: 0px; margin-bottom: 0px;">
                  <label class="second-text strong text-black" for="floatingInput"></label>
                  <button class="form-control rounded-3 btn section-text bg-black text-white" type="button" [disabled]="!isLeaderSection(i) ? true : null" (click)="enableSection(i)">Изменить</button>
                </div>
                <div *ngIf="section.get('title')?.disabled" class="col-1" style="padding-left: 0px; margin-bottom: 0px;">
                  <label class="second-text strong text-black" for="floatingInput"></label>
                  <button class="form-control rounded-3 btn section-text bg-black text-white" type="button" [disabled]="!isMasterModeratorOfThisConference() ? true : null" (click)="removeSection(i)">Удалить</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 50px; margin-bottom: 0px;">
            <div class="row conf-info-section-item">
              <div class="col-12 conf-info-section" style="padding-right: 5px;">
                <div style="padding: 10px" class="conf-section-title form-control text-center text-white">Критерии оценивания</div>
              </div>
            </div>
          </div>
          <div formArrayName="tags">
            <div *ngFor="let tag of tags.controls; let i = index">
              <div class="row"  [formGroupName]="i" >
                <div class="col-10" style="padding-left: 0px; margin-bottom: 0px;">
                  <label class="second-text strong text-black" for="floatingInput"></label>
                  <input [readonly]="!isMasterModeratorOfThisConference()" type="text" class="form-control section-text text-black" formControlName="name" placeholder="Название" id="floatingInput">
                </div>
                <div *ngIf="!tag.get('name')?.disabled" class="col-2" style="padding-left: 0px; margin-bottom: 0px;">
                  <label class="second-text strong text-black" for="floatingInput"></label>
                  <button  class="form-control rounded-3 btn section-text bg-black text-white" type="button" [disabled]="tag.get('name')?.value === ''" (click)="disableTag(i)">Сохранить</button>
                </div>
                <div *ngIf="tag.get('name')?.disabled" class="col-1" style="padding-left: 0px; margin-bottom: 0px;">
                  <label class="second-text strong text-black" for="floatingInput"></label>
                  <button  class="form-control rounded-3 btn section-text bg-black text-white" type="button" [disabled]="!isMasterModeratorOfThisConference() ? true : null" (click)="enableTag(i)">Изменить</button>
                </div>
                <div *ngIf="tag.get('name')?.disabled" class="col-1" style="padding-left: 0px; margin-bottom: 0px;">
                  <label class="second-text strong text-black" for="floatingInput"></label>
                  <button  class="form-control rounded-3 btn section-text bg-black text-white" type="button" [disabled]="!isMasterModeratorOfThisConference() ? true : null" (click)="removeTag(i)">Удалить</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row align-items-center" style="margin-bottom: 10px;">
            <div class="col-4 conf-info-text text-black">

            </div>
            <div class="col-4 conf-info-text text-black text-center">
              <button [disabled]="formCreateConference.invalid" type="button" class="form-control rounded-3 btn btn-pref text-white" *ngIf="this.currentConferenceId == null"
                (click)="createConference()">Сохранить</button>
              <button [disabled]="formCreateConference.invalid" type="button" style="margin: 0px;" class="form-control rounded-3 btn btn-pref text-white" *ngIf="this.currentConferenceId != null"
                (click)="updateConference()">Сохранить изменения</button>
            </div>
            <div class="col-4 conf-info-text text-black text-end">

            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>
