<!-- Сама конференция админка / обычная -->

<section id="conference">
  <div class="container">

    <div class="main">
      <form [formGroup]="formCreateConference">
        <div class="row d-flex align-items-center konf-pref rounded-3" style="padding: 0px;">
          <div class="d-inline-flex align-items-center col-8">
            <div class="conf-name-adress text-black">
              Конференции / {{this.currentConference != null ? "Изменение \"" + this.currentConference.title +"\"" :
              "Создание"}}
            </div>
          </div>
          <div class="d-inline-flex align-items-center col-4 text-black" *ngIf="isSuperAdmin()" style="height: 17px;">
            Администратор
            <div class="conf-name-adress-2 text-black" style="width: 100%;">
              <div class="form-floating mb-3">

                <div style="padding: 10px; margin-top: 15px;" class="dropdown">
                  <button style="height: 47px; width: 100%; border: #8C99B9 solid 1px;" data-bs-auto-close="outside" class="btn bg-white  text-center text-black dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Изменить
                  </button>
                  <ul style="width: calc(100% - 20px); padding-left: 10px;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li *ngFor="let user of admins">
                              <div class="form-check align-items-center" style="width: 100%;">
                                  <input formControlName="admin{{user.id}}" (change)="updateAdmin()" class="form-check-input" type="checkbox" id="{{ user.id }}" />
                                  <label class="form-check-label " style="width: 100%; margin-top: 3px;" for="{{ user.id }}">{{ user.firstName + " " + user.lastName }}</label>
                              </div>
                      </li>
                  </ul>
                </div>

                <!-- <select class="bg-white form-control section-text text-black text-center" style="height: 47px; padding: 10px; margin-top: 15px;"
                  formControlName="adminName" (change)="updateAdmin($event)">
                  <option class="text-center" selected [ngValue]="undefined" style="font-size: 16px;">Выберите</option>
                  <option *ngFor="let user of admins">{{ user.fullName }}</option>
                </select> -->
              </div>
            </div>
          </div>
        </div>

        <div class="rounded-3 row konf-information" style="padding-right: 5px;">
          <div class="row" style="margin-bottom: 20px; margin-top: -15px;">
            <div class="col-10 conf-title text-black" style="padding: 0px; padding-right: 16px;" [ngClass]="{'has-error': formCreateConference.get('confName')?.invalid && formCreateConference.get('confName')?.touched}">
              <label class="main-text" for="floatingInput">Название конференции <span
                  style="color: red;">*</span></label>
              <input [attr.disabled]="!isMasterAdminConference() ? true : null" type="text" class="form-control section-text text-black" formControlName="confName"
                id="floatingInput">
            </div>
            <div class="col-2 conf-title text-black" style="padding: 0px;">
              <label class="main-text" for="floatingInput">Статус <span style="color: red;">*</span></label>
              <select [attr.disabled]="!isMasterAdminConference() ? true : null" class="form-control section-text text-black text-center" style="height: 47px; padding: 10px;"
                      formControlName="confStatus" (change)="updateStatus($event)">
                <option selected [ngValue]="undefined" style="font-size: 16px; color: black;">Выберите</option>
                <option *ngFor="let status of statusList">{{ status }}</option>
              </select>
            </div>
            <div class="col-4" style="padding-left: 0px;" [ngClass]="{'has-error': formCreateConference.get('organization')?.invalid && formCreateConference.get('organization')?.touched}">
              <label class="second-text" for="floatingInput">Организация <span style="color: red;">*</span></label>
              <input [attr.disabled]="!isMasterAdminConference() ? true : null" type="text" class="form-control section-text text-black" formControlName="organization"
                id="floatingInput">
            </div>
            <div class="col-4 text-center" [ngClass]="{'has-error': formCreateConference.get('date_start')?.invalid && formCreateConference.get('date_start')?.touched}">
              <label class="second-text" for="floatingInput">Дата начала <span style="color: red;">*</span></label>
              <input [attr.disabled]="!isMasterAdminConference() ? true : null" type="date" class="form-control section-text text-black" formControlName="date_start"
                id="floatingInput">
            </div>
            <div class="col-4 text-end" style="padding-right: 0px;" [ngClass]="{'has-error': formCreateConference.get('date_end')?.invalid && formCreateConference.get('date_end')?.touched}">
              <label class="second-text" for="floatingInput">Дата завершения <span style="color: red;">*</span></label>
              <input [attr.disabled]="!isMasterAdminConference() ? true : null" type="date" class="form-control section-text text-black" formControlName="date_end"
                id="floatingInput">
            </div>

            <div class="col-12" style="margin-bottom: 10px; padding: 0px; margin-top: 15px;" [ngClass]="{'has-error': formCreateConference.get('description')?.invalid && formCreateConference.get('description')?.touched}">
              <label class="second-text" for="floatingInput">Описание <span style="color: red;">*</span></label>
              <textarea [attr.disabled]="!isMasterAdminConference() ? true : null" style="white-space: pre-wrap; min-height: 250px;" rows="10" type="text"
                class="form-control section-text text-black" formControlName="description"
                id="floatingInput"></textarea>
            </div>
          </div>

          <div class="row" style="margin-bottom: 5px;">
            <div class="row conf-info-section-item">
              <div class="col-6 conf-info-section" style="padding-right: 5px;">
                <div style="padding: 10px" class="conf-section-title form-control text-center text-white">Секция</div>
              </div>
              <div class="col-6 conf-info-section" style="padding-left: 5px;">
                <div style="padding: 10px" class="conf-section-title form-control  text-center text-white">Руководитель
                </div>
              </div>
            </div>

            <div class="row conf-info-section-item" [formGroup]="formSections" *ngFor="let section of this.sections">
              <div class="col-6 conf-info-section" style="padding-right: 5px;">
                <input [attr.disabled]="!isLeaderSection(section) ? true : null" type="text" class="form-control section-text text-center text-black"
                  [value]="section.title" (change)="updateSections($event, 'org', section, null)">
              </div>
              <div class="col-6 conf-info-section">
                <div *ngIf="isMasterAdminConference()" style="padding: 10px; margin-top: 15px;" style="padding-left: 5px;" class="dropdown">
                  <button style="height: 47px; width: 100%; border: #8C99B9 solid 1px;" data-bs-auto-close="outside" class="btn bg-white  text-center text-black dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Изменить
                  </button>
                  <ul style="width: calc(100% - 5px); padding-left: 10px;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li *ngFor="let user of this.currentAdmins">
                          <div class="form-check align-items-center" style="width: 100%;">
                              <input *ngIf="isMasterAdminConference() ? this.currentUser.id != user.id : null" formControlName="sec{{section.title}}{{user.id}}" (change)="updateSections($event, 'user', section, user)" class="form-check-input" type="checkbox" id="confAdm{{section.title}}{{user.id}}"/>
                              <label class="form-check-label " style="width: 100%; margin-top: 3px;" for="confAdm{{section.title}}{{user.id}}">{{ user.firstName + " " + user.lastName }}</label>
                          </div>
                      </li>
                  </ul>
                </div>
                <div *ngIf="!isMasterAdminConference()" style="padding: 10px; margin-top: 15px;" style="padding-left: 5px;">
                  <input [attr.disabled]="isMasterAdminConference()" type="text" class="form-control section-text text-center text-black"
                         [value]="section.leaders.length != 0 ? getLeadersString(section.leaders) : 'Не назначен'" [readonly]="true">
                </div>
              </div>

              <!-- <div class="col-6 conf-info-section" style="padding-left: 5px;">
                <input type="text" class="bg-white section-text form-control text-center text-black"
                  [value]="section.leaderName" (change)="updateSections($event, 'user', section)">
              </div> -->
            </div>
            <div *ngIf="isMasterAdminConference()" class="conf-info-section">
              <div style="padding: 10px; cursor: pointer;"
                class="conf-section-title form-control text-center text-white bg-dark" (click)="addRowForSection()">Добавить
                секцию</div>
            </div>
          </div>


          <div class="row align-items-center" style="margin-bottom: 10px;">
            <div class="col-4 conf-info-text text-black">

            </div>
            <div class="col-4 conf-info-text text-black text-center">
              <button [disabled]="formCreateConference.invalid" type="button" class="form-control rounded-3 btn btn-pref text-white" *ngIf="this.currentConferenceId == null"
                (click)="createConference()">Сохранить</button>
              <button [disabled]="formCreateConference.invalid" type="button" style="margin: 0px;" class="form-control rounded-3 btn btn-pref text-white" *ngIf="this.currentConferenceId != null"
                (click)="updateConference()">Сохранить изменения</button>
            </div>
            <div class="col-4 conf-info-text text-black text-end">

            </div>
          </div>


          <!--<div class="konf-description text-black">Описание: {{conf.description}}</div>-->
        </div>
      </form>
    </div>
  </div>
</section>
