#container__main {
  background: url(/assets/pictures/home/pattern.svg);
}

.main {
  background: url(/assets/pictures/home/page.svg);
  padding: 110px 35px 0px 35px;
  box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 50px;
  min-height: 100vh;
}

.konf-pref {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  margin-bottom: 20px;
  height: 80px;
}

.verify-div {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
}
