<div class="conf-list">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let conf of conferences">
      <div class="card h-100 shadow-sm conf-item">
        <div class="card-header bg-primary text-white">
          <h3 class="h5 mb-0 text-truncate">{{ conf.title }}</h3>
        </div>

        <div class="card-body">
          <div class="d-flex flex-column gap-2">
            <div class="d-flex align-items-center gap-2">
              <i class="bi bi-building text-primary"></i>
              <span class="organization-text text-muted">
                {{ conf.organization }}
              </span>
            </div>

            <div class="d-flex align-items-center gap-2">
              <i class="bi bi-calendar-range text-primary"></i>
              <span>
                {{ DateService.formatDate(conf.startDate) }} -
                {{ DateService.formatDate(conf.endDate) }}
              </span>
            </div>

            <div class="d-flex align-items-center gap-2">
              <i
                class="bi bi-circle-fill"
                [ngClass]="{
                  'text-success': conf.status === 'ACTIVE',
                  'text-danger': conf.status === 'CLOSED',
                  'text-warning': conf.status === 'ON_HOLD'
                }"
              ></i>
              <span>{{ conferenceStatusMap[conf.status] }}</span>
            </div>
          </div>
        </div>

        <div class="card-footer bg-transparent border-top-0">
          <button type="button" class="btn btn-outline-primary w-100" (click)="onOpen(conf.id)">
            <i class="bi bi-box-arrow-in-right me-2"></i>Подробнее
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
