<section id="container__main">
  <div class="container">
    <div class="main">
      <p-toast [breakpoints]="{ '768px': { width: '90%', right: '0', left: '20px' } }" preventOpenDuplicates="true" />
      <div class="card shadow-sm mb-4">
        <div class="card-header bg-primary text-white">
          <h2 class="h4 mb-0">
            <i class="bi bi-shield-lock me-2"></i>Смена пароля
          </h2>
        </div>
        <div *ngIf="!reseted" class="card-body alert-danger">
          <div class="d-flex align-items-center gap-3">
            <i class="bi bi-exclamation-octagon-fill text-danger fs-3"></i>
            <div class="fs-5">
              Не удалось сбросить пароль. Ссылка устарела или недействительна.
            </div>
          </div>
        </div>
        <div *ngIf="reseted" class="card-body">
          <form [formGroup]="formRestore" class="auth-form">
            <div class="form-group mb-4">
              <p-iftalabel>
                <p-password [feedback]="false" [fluid]="true" [toggleMask]="true" id="password" inputId="password"
                            formControlName="password"
                            [ngClass]="{'ng-invalid ng-dirty': formRestore.get('password')?.invalid && formRestore.get('password')?.touched}"/>
                <label for="password">Пароль <span style="color: red;">*</span></label>
              </p-iftalabel>
              <div class="invalid-feedback">
                Введите корректный пароль
              </div>
            </div>

            <div class="form-group mb-4">
              <p-iftalabel>
                <p-password [feedback]="false" [fluid]="true" [toggleMask]="true" id="confirmedPassword"
                            inputId="password" formControlName="confirmedPassword" class="w-100 mt-3"
                            [ngClass]="{'ng-invalid ng-dirty': formRestore.get('confirmedPassword')?.invalid && formRestore.get('confirmedPassword')?.touched}"/>
                <label for="confirmedPassword">Подтверждение пароля <span style="color: red;">*</span></label>
              </p-iftalabel>
            </div>

            <div *ngIf="formRestore.errors?.['passwordMismatch'] && formRestore.touched"
                 class="alert alert-danger mb-4">
              <i class="bi bi-x-circle-fill me-2"></i>Пароли не совпадают
            </div>

            <p-button class="w-100 btn-login" label="Изменить пароль" type="submit" [fluid]="true" [loading]="loading"
                      (click)="sendNewPassword()" [disabled]="formRestore.invalid"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
