<section id="restore-password">
  <div class="container">

    <div class="main">
      <div class="row d-flex align-items-center konf-pref rounded-3">
        <div class="d-inline-flex align-items-center col-10">
          <div class="text-black" style="font-size: 20px; margin-left: 10px;">
            Смена пароля
          </div>
        </div>
      </div>

      <div *ngIf="!this.reseted" class="row verify-div rounded-3 text-black">
        <div class="text-bg-warning bg-opacity-75 text-md-center" style="padding-top: 20px; vertical-align: center; height: 60px; font-size: 30px">
          Не удалось сбросить пароль. Ссылка устарела.
        </div>
      </div>

      <div *ngIf="this.reseted" class="row verify-div rounded-3 text-black">
        <form [formGroup]="formRestore">
          <div class="form-floating mb-3" [ngClass]="{'has-error': formRestore.get('password')?.invalid && formRestore.get('password')?.touched}">
            <input type="password" class="form-control rounded-3" formControlName="password">
            <label for="floatingInput">Пароль <span style="color: red;">*</span></label>
          </div>
          <div class="form-floating mb-3" [ngClass]="{'has-error': formRestore.get('confirmedPassword')?.invalid && formRestore.get('confirmedPassword')?.touched}">
            <input type="password" class="form-control rounded-3" formControlName="confirmedPassword">
            <label for="floatingInput">Подтверждение пароля <span style="color: red;">*</span></label>
          </div>
          <span *ngIf="formRestore.errors?.['passwordMismatch'] && formRestore.touched" style="color: #D80000; padding-bottom: 10px">
            Пароли не совпадают
          </span>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" style="background-color: #33486E;" type="submit" (click)="sendNewPassword()" [disabled]="formRestore.invalid">Изменить пароль</button>
        </form>
      </div>
    </div>
  </div>
</section>
