<section id="container__main">
  <div class="container">

    <div class="main">
      <div class="row d-flex align-items-center konf-pref rounded-3">
        <div class="d-inline-flex align-items-center col-10">
          <div class="text-black" style="font-size: 20px; margin-left: 10px;">
            Смена пароля
          </div>
        </div>
      </div>

      <div *ngIf="!this.reseted" class="row verify-div rounded-3 text-black">
        <div class="text-bg-warning bg-opacity-75 text-md-center" style="padding-top: 20px; vertical-align: center; height: 60px; font-size: 30px">
          Не удалось сбросить пароль. Ссылка устарела.
        </div>
      </div>

      <div *ngIf="this.reseted" class="row verify-div rounded-3 text-black w-50 m-lg-auto">
        <form [formGroup]="formRestore">

          <p-iftalabel class="mb-3">
            <p-password [feedback]="false" [fluid]="true" [toggleMask]="true" id="password" inputId="password" formControlName="password" [ngClass]="{'ng-invalid ng-dirty': formRestore.get('password')?.invalid && formRestore.get('password')?.touched}"/>
            <label for="password">Пароль <span style="color: red;">*</span></label>
          </p-iftalabel>

          <p-iftalabel class="mb-3">
            <p-password [feedback]="false" [fluid]="true" [toggleMask]="true" id="confirmedPassword" inputId="password" formControlName="confirmedPassword" class="w-100 mt-3" [ngClass]="{'ng-invalid ng-dirty': formRestore.get('confirmedPassword')?.invalid && formRestore.get('confirmedPassword')?.touched}"/>
            <label for="confirmedPassword">Подтверждение пароля <span style="color: red;">*</span></label>
          </p-iftalabel>

          <div class="text-center" style="color: #D80000; padding-bottom: 10px">
            <span class="text-center" *ngIf="formRestore.errors?.['passwordMismatch'] && formRestore.touched">
              Пароли не совпадают
            </span>
          </div>
          <p-button class="w-100 btn-login" label="Изменить пароль" type="submit" [fluid]="true" [loading]="loading" (click)="sendNewPassword()" [disabled]="formRestore.invalid"/>
        </form>
      </div>
    </div>
  </div>
</section>
