<div class="onboarding">
    <div class="onboarding__container">
        <div class="onboarding__wrapper">
            <div class="onboarding__img">
                <img src="assets/forum/images/onboarding/first.jpg" alt="">
            </div>
            <div class="onboarding__info">
                <h2 class="onboarding__info-title">
                    Личная библиотека
                </h2>
                <p class="onboarding__info-text">
                    В этом разделе вы можете загружать статьи, добавлять их в избранное, удалять или редактировать. Не обязательно добавлять только свои статьи! Добавьте новую статью, следуя простой инструкции.
                </p>
                <button class="onboarding__info-btn">
                    Пропустить обучение
                </button>
            </div>
        </div>
    </div>
</div>