<section id="conference">
  <div class="container">

    <div class="main">
      <div class="row d-flex align-items-center konf-pref rounded-3">
        <div class="d-inline-flex align-items-center col-8">
          <div *ngIf="!isReviewer()" class="conf-name-adress text-black">
            {{this.jobUser.id == this.currentUser.id ? "Мои статьи" : this.jobUser.lastName + " "
            + this.jobUser.firstName + " " + this.jobUser.middleName }} / {{this.currentJob.conferenceTitle}} / {{this.currentJob.title}}
          </div>
          <div *ngIf="isReviewer()" class="conf-name-adress text-black">
            {{this.currentJob.conferenceTitle}} / {{this.currentJob.title}}
          </div>
        </div>
      </div>


      <div class="row konf-information rounded-3">

        <div style="margin-top: 20px; padding: 0px;">
          <form [formGroup]="formAddJob">
            <div class="row" style="margin-left: 0px;">
              <div class="col-12" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text strong text-black" for="floatingInput">Название </label>
                <input [readonly]="true" type="text" class="bg-white form-control section-text text-black" formControlName="title"
                  id="floatingInput">
              </div>
            </div>

            <div *ngIf="!isReviewer()">
              <div formArrayName="authors">
                <div *ngFor="let author of authors.controls; let i = index">
                  <div class="row" style="margin-left: 0px;" [formGroupName]="i" >
                    <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                      <label class="second-text strong text-black" for="floatingInput">Соавтор {{i+1}}</label>
                      <input [readonly]="true" type="text" class="bg-white form-control section-text text-black" formControlName="fullName" placeholder="ФИО" id="floatingInput">
                    </div>
                    <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                      <label class="second-text strong text-black" for="floatingInput"></label>
                      <input [readonly]="true" type="text" class="bg-white form-control section-text text-black" formControlName="organization" placeholder="Организация">
                    </div>
                    <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                      <label class="second-text strong text-black" for="floatingInput"></label>
                      <input [readonly]="true" type="text" class="bg-white form-control section-text text-black" formControlName="email" placeholder="Почта">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="margin-left: 0px;">
              <div class="col-12" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text strong text-black" for="floatingInput">Аннотация </label>
                <textarea [readonly]="true" type="text" class="bg-white form-control section-area text-black" formControlName="description"
                          id="floatingInput"></textarea>
              </div>
            </div>
            <div *ngIf="!isReviewer()" class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Телефон </label>
                <input [readonly]="true" type="text" mask="+0 (000) 000-0000" class="bg-white form-control section-text text-black" formControlName="phone"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">ORCID </label>
                <input [readonly]="true" type="text" mask="0000-0000-0000-0000" class="bg-white form-control section-text text-black" formControlName="orcId"
                       id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">РИНЦ ID </label>
                <input [readonly]="true" type="text" mask="0000-0000" class="bg-white form-control section-text text-black" formControlName="rincId"
                       id="floatingInput">
              </div>
            </div>
            <div *ngIf="!isReviewer()" class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Организация </label>
                <input [readonly]="true" type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">Ученая степень</label>
                <input [readonly]="true" type="text" class="bg-white form-control section-text text-black" formControlName="academicDegree"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">Ученое звание</label>
                <input [readonly]="true" type="text" class="bg-white form-control section-text text-black" formControlName="academicTitle"
                  id="floatingInput">
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Секция </label>
                <input [readonly]="true" type="text" class="bg-white form-control section-text text-black" formControlName="section"
                       id="floatingInput">
              </div>
            </div>
            <div *ngIf="!isReviewer()"  class="row" style="margin-left: 0px;">
              <div class="col-12" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Файлы </label>
                <div *ngFor="let file of this.currentJob.fileName" id="floatingInput" style="padding-left: 0px; margin-bottom: 20px;">
                  <a (click)="downloadFile(file)" class="bg-white form-control section-text text-black">{{ file }}</a>
                </div>
              </div>
            </div>

            <div [formGroup]="formReview" *ngIf="isReviewer()" class="row" style="margin-left: 0px;">
              <div class="col-12" style="padding-left: 0px; margin-bottom: 20px;">
                <div class="second-text text-black" style="padding-left: 0px; margin-bottom: 20px;">Критерии оценивания </div>

                <div *ngFor="let tag of this.currentConference.tags" class="jobs-radio-group" style="padding-left: 0px; margin-bottom: 20px;">
                  <label class="second-text text-black" for="floatingInput" style="padding-bottom: 20px; ">{{ tag }}</label>
                    <div *ngFor="let mark of this.reviewsMarks" style="padding-left: 0px; margin-bottom: 20px;" id="floatingInput">
                      <input type="radio" name="{{tag}}" id="floatingInput" (click)="updateMark(tag, mark)">
                      <label class="second-text text-black" for="floatingInput">{{ mark }}</label>
                    </div>
                </div>

              </div>

              <div class="row" style="margin-left: 0px;">
                <div class="col-12" style="padding-left: 0px; margin-bottom: 20px;">
                  <label class="second-text strong text-black" for="floatingInput">Комментарий к рецензии </label>
                  <textarea type="text" class="bg-white form-control section-area text-black" formControlName="text"
                            id="floatingInput"></textarea>
                </div>
              </div>

              <button type="button" style="margin: 0px;" class="form-control rounded-3 btn btn-pref text-white"
                      (click)="saveReview()">Сохранить</button>
            </div>


            <div *ngIf="!isReviewer()" class="row" style="margin-left: 0px;">
              <div class="col-12" style="padding-left: 0px; margin-bottom: 20px;">
                <div class="container py-3">

                  <div class="d-flex justify-content-center">


                      <div class="card col-12" >
                        <div class="card-header d-flex justify-content-between align-items-center p-3"
                          style="border-top: 4px solid #8C99B9;">
                          <h5 class="mb-0">Чат</h5>
                        </div>

                        <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px; overflow: auto;">

                          <div *ngFor="let comment of this.currentComments">
                            <div *ngIf="comment.user.id != this.currentUser.id; then ifThen; else ifElse">
                            </div>
                            <ng-template #ifThen>
                              <div class="d-flex justify-content-start">
                                <p class="mb-1">{{ comment.user.firstName + ' ' + comment.user.lastName }},</p><pre> </pre>
                                <p class="mb-1 text-muted">{{ AppConstants.formatDateTime(comment.dateTime) }}</p>
                              </div>
                              <div class="d-flex flex-row justify-content-start">
                                <div>
                                  <p class="p-2 me-3 mb-3 rounded-3" style="background-color: #f5f6f7;">
                                    {{ comment.message }}
                                  </p>
                                </div>
                              </div>
                            </ng-template>

                            <ng-template #ifElse>
                              <div class="d-flex justify-content-end">
                                <p class="mb-1 text-muted">{{ AppConstants.formatDateTime(comment.dateTime) }},</p><pre> </pre>
                                <p class="mb-1">{{ comment.user.firstName + ' ' + comment.user.lastName }}</p>
                              </div>
                              <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                                <div>
                                  <p class="p-2 ms-3 mb-3 text-white rounded-3" style="background-color: #8C99B9;">
                                    {{ comment.message }}
                                  </p>
                                </div>
                              </div>
                            </ng-template>
                          </div>

                        </div>
                        <div [formGroup]="formComment" class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                          <div class="input-group mb-0">
                            <input type="text" class="form-control" placeholder="Type message"
                              aria-label="Recipient's username" aria-describedby="button-addon2" formControlName="message" />
                            <button (click)="createComment()" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark" type="button" id="button-addon2">
                              Отправить
                            </button>
                          </div>
                        </div>
                      </div>

                  </div>

                </div>
              </div>
            </div>
          </form>

        </div>

        <div class="row align-items-center" style="margin-bottom: 20px; margin-top: 10px;">
          <div class="col-4 conf-info-text text-black">

          </div>
          <div class="col-4 conf-info-text text-black text-center">
            <button type="button" class="form-control rounded-3 btn btn-pref text-white" *ngIf="this.isUserJob()" (click)="deleteJob()">Удалить</button>
          </div>
          <div class="col-4 conf-info-text text-black text-end">

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
