<ng-container *ngIf="showCountrySelector; else phoneFieldSimple">
  <div class="mb-3" [class.phone-field--stacked-wrap]="labelStacked">
    <label *ngIf="labelStacked" [attr.for]="id" [class]="labelClass || 'phone-field__label-over'">
      {{ label }}
    </label>
    <div class="phone-field--registration">
      <p-dropdown
        class="phone-country-dropdown"
        [fluid]="true"
        [options]="countries"
        optionLabel="label"
        optionValue="id"
        dataKey="id"
        [formControl]="countryControl"
        [disabled]="dropdownDisabled"
        appendTo="body"
        [autoZIndex]="true"
        [baseZIndex]="12000"
        [showClear]="false"
        [filter]="false"
        panelStyleClass="phone-country-panel"
      >
        <ng-template let-item pTemplate="selectedItem">
          <span class="phone-country-selected">
            <span class="phone-flag" aria-hidden="true">{{ item.flag }}</span>
            <span class="phone-country-selected__name">{{ item.label }}</span>
            <span class="phone-country-dial phone-country-dial--compact">{{ '+' + item.dialPrefix }}</span>
          </span>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <span class="phone-country-item">
            <span class="phone-flag" aria-hidden="true">{{ item.flag }}</span>
            <span>{{ item.label }}</span>
            <span class="phone-country-dial">{{ '+' + item.dialPrefix }}</span>
          </span>
        </ng-template>
      </p-dropdown>

      <p-iftalabel
        *ngIf="!labelStacked"
        class="mb-0 phone-input-wrap-registration"
        [ngClass]="{'has-error': hasError()}"
      >
        <ng-container *ngIf="freeForm; else maskedRegistrationPhone">
          <input
            pInputText
            [id]="id"
            [formControl]="control"
            autocomplete="tel"
            (animationstart)="onPhoneAutofillAnimation($event)"
            [readonly]="isInteractionDisabled"
            [placeholder]="placeholder"
            [attr.aria-required]="required ? 'true' : null"
            [ngClass]="{'has-error': hasError(), 'ng-invalid ng-dirty': hasError()}"
            [fluid]="true"
          />
        </ng-container>
        <ng-template #maskedRegistrationPhone>
          <input
            pInputText
            [id]="id"
            [formControl]="control"
            [prefix]="prefixStr"
            [mask]="maskStr"
            [dropSpecialCharacters]="true"
            [showMaskTyped]="true"
            autocomplete="tel"
            (animationstart)="onPhoneAutofillAnimation($event)"
            [readonly]="isInteractionDisabled"
            [placeholder]="placeholder"
            [attr.aria-required]="required ? 'true' : null"
            [ngClass]="{'has-error': hasError(), 'ng-invalid ng-dirty': hasError()}"
            [fluid]="true"
          />
        </ng-template>
        <label [for]="id">
          {{ label }}
        </label>
      </p-iftalabel>

      <div
        *ngIf="labelStacked"
        class="phone-input-wrap-registration phone-input-wrap-registration--plain"
        [ngClass]="{'has-error': hasError()}"
      >
        <ng-container *ngIf="freeForm; else maskedRegistrationPhoneStacked">
          <input
            pInputText
            [id]="id"
            [formControl]="control"
            autocomplete="tel"
            (animationstart)="onPhoneAutofillAnimation($event)"
            [readonly]="isInteractionDisabled"
            [placeholder]="placeholder"
            [attr.aria-required]="required ? 'true' : null"
            [ngClass]="{'has-error': hasError(), 'ng-invalid ng-dirty': hasError()}"
            [fluid]="true"
          />
        </ng-container>
        <ng-template #maskedRegistrationPhoneStacked>
          <input
            pInputText
            [id]="id"
            [formControl]="control"
            [prefix]="prefixStr"
            [mask]="maskStr"
            [dropSpecialCharacters]="true"
            [showMaskTyped]="true"
            autocomplete="tel"
            (animationstart)="onPhoneAutofillAnimation($event)"
            [readonly]="isInteractionDisabled"
            [placeholder]="placeholder"
            [attr.aria-required]="required ? 'true' : null"
            [ngClass]="{'has-error': hasError(), 'ng-invalid ng-dirty': hasError()}"
            [fluid]="true"
          />
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #phoneFieldSimple>
  <div class="phone-field--stacked">
    <label [attr.for]="id" [class]="labelClass">
      {{ label }}
    </label>
    <input
      type="text"
      [id]="id"
      [formControl]="control"
      [attr.aria-required]="required ? 'true' : null"
      [prefix]="prefixStr"
      [mask]="maskStr"
      [dropSpecialCharacters]="true"
      [showMaskTyped]="true"
      autocomplete="tel"
      (animationstart)="onPhoneAutofillAnimation($event)"
      [readonly]="isInteractionDisabled"
      [placeholder]="placeholder"
      [class]="inputClass"
      [ngClass]="{'has-error': hasError(), 'ng-invalid ng-dirty': hasError()}"
    />
  </div>
</ng-template>
