<section id="container__main">
  <div class="container">

    <div class="main">
      <div class="row d-flex align-items-center konf-pref rounded-3">
        <div class="d-inline-flex align-items-center col-10">
          <div class="text-black" style="font-size: 20px; margin-left: 10px;">
            Конференции
          </div>
<!--          Поиск -->
        </div>

        <div class="d-inline-flex align-items-center justify-content-end col-2">
          <button *ngIf="isAdmin()" type="button" class="btn btn-pref-add text-white rounded-3" (click)="createConference()">+</button>
        </div>
      </div>

      <div *ngIf="!this.conferences || this.conferences.length === 0" class="text-center" style="font-size: 30px; margin-top: 50px">
        Нет конференций
      </div>

      <div *ngIf="this.conferences && this.conferences.length > 0" class="row konf-list rounded-3">
        <div class="col-md-3 konf-item-outer rounded-3" *ngFor="let conf of this.conferences">
          <div class="konf-item w-100 justify-content-center rounded-3">
            <div class="img-info-conf rounded-3">
<!--              <img style="border-radius: var(&#45;&#45;bs-border-radius-lg) var(&#45;&#45;bs-border-radius-lg) 0 0;" src="../../../assets/pictures/conf-images/demo-img.png" alt="">-->
            </div>
            <div class="general-info-conf">
              <div class="konf-name rounded-3">{{ conf.title }}</div>
              <div class="konf-organization text-black">{{ conf.organization }}</div>
            </div>
            <div class="second-info-conf" style="border-radius: 0 0 var(--bs-border-radius-lg) var(--bs-border-radius-lg);">
<!--              <div class="konf-description text-black">Описание: {{ conf.description }}</div>-->
              <div class="konf-status text-black" >Статус: <span [style.color]="conf.status === 'ACTIVE' ? 'green' : conf.status === 'CLOSED' ? '#D80000' : '#B76E00'">{{ conferenceStatusMap[conf.status] }}</span></div>
              <div class="konf-timeDate text-black align-text-center">{{ DateService.formatDate(conf.startDate) }} - {{ DateService.formatDate(conf.endDate) }}</div>
              <div class="row justify-content-end">
                <button type="button" class="btn btn-konf text-white px-1 rounded-3" (click)="openConf(conf.id)">Открыть</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
