<section id="container__main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main">
          <div class="row mb-7">
            <h1 class="mb-4 text-black text-center">Проект перешел в стадию закрытого тестирования</h1>
            <div class="col-12" style="padding-bottom: 800px;">
              <h2 class="mb-4 text-black">Приветствуем вас на закрытом тестировании системы управления конференциями NNSTU! Для начала работы
                вам следует выполнить ряд простых действий:</h2>
              <h2 class="mb-4 text-black">1. Зарегистрируйтесь на платформе используя свою почту. В шапке найдите соответствующую кнопку и нажмите на нее.
                В открывшейся форме введите обязательные данные и завершите регистрацию.
              </h2>
              <h2 class="mb-4 text-black">2. Выполните вход в свой аккаунт.</h2>
              <h2 class="mb-4 text-black">3. Выберите конференцию и нажмите кнопку "Открыть".</h2>
              <h2 class="mb-4 text-black">4. Добавьте свои материалы.</h2>
            </div>
            <p style="color: rgb(109, 121, 154);">Разработчики: Глухов КА и Моисеев ДС</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
