#home {
  background: url(../../../assets/pictures/home/pattern.svg);
}

.main {
  background: url(../../../assets/pictures/home/page.svg);
  padding: 118px 30px 0px 30px;
  box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 50px;
}
