<section id="container__main">
  <div class="container">
    <app-toast-container />
    <p-confirm-dialog key="confirmPopup"/>
    <p-confirm-popup key="confirmDialog"/>
    <div class="main">

      <app-loading-spinner *ngIf="loadingJob" message="Загрузка..." />

      <div *ngIf="!loadingJob">
        <app-breadcrumb-wrapper [items]="breadcrumbItems || []" [home]="homeItem"></app-breadcrumb-wrapper>
      </div>

      <div *ngIf="!loadingJob && !loadingConference">

        <!-- Форма добавления работы -->
        <div  class="card shadow-sm mb-4">
          <div class="card-header bg-primary text-white">
            <h5 class="mb-0"><i class="bi bi-file-earmark-plus me-2"></i>Добавление работы</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="formJob" class="row g-3">

              <!-- Выбор конференции -->
              <div class="col-12 row g-2">
                <div class="col-md-4">
                  <label class="form-label">Конференция <span class="text-danger">*</span></label>
                  <select class="form-control form-control-conference" formControlName="conference">
                    <option [ngValue]="undefined">Выберите</option>
                    <option *ngFor="let conference of conferences" [ngValue]="conference">{{ this.getShortConferenceTitle(conference) }}</option>
                  </select>
                </div>
              </div>

              <!-- Выбор секции -->
              <div class="col-12 row g-2">
                <div class="col-md-4">
                  <label class="form-label">Секция <span class="text-danger">*</span></label>
                  <select class="form-control form-control-section" formControlName="section">
                    <option [ngValue]="undefined">Выберите</option>
                    <option *ngFor="let section of sections" [ngValue]="section">{{ section.title }}</option>
                  </select>
                </div>
              </div>

              <!-- Секция общей информации -->
              <div class="col-md-6">
                <label class="form-label">Название работы <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="title" required [maxlength]="255">
              </div>

              <div class="col-12">
                <label class="form-label">Аннотация <span class="text-danger">*</span></label>
                <textarea class="form-control" rows="3" formControlName="description" required
                          [maxlength]="2000"></textarea>
              </div>

              <!-- Секция соавторов -->
              <div class="col-12">
                <h6 class="mb-3">Соавторы</h6>
                <div formArrayName="authors">
                  <div *ngFor="let author of authors.controls; let i = index" [formGroupName]="i" class="mb-3">
                    <div class="row g-2 align-items-center">
                      <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="ФИО" formControlName="fullName"
                               [maxlength]="100">
                      </div>
                      <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Организация"
                               formControlName="organization" [maxlength]="100">
                      </div>
                      <div class="col-md-3">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email"
                               [maxlength]="100">
                      </div>

                      <div class="col-md-2">
                        <div class="d-flex gap-2">
                          <button *ngIf="!author.get('fullName')?.disabled"
                                  class="btn btn-success"
                                  [disabled]="author.get('fullName')?.value === ''"
                                  (click)="disableAuthor(i)">
                            <i class="bi bi-check-lg"></i>
                          </button>

                          <button *ngIf="author.get('fullName')?.disabled"
                                  class="btn btn-outline-secondary"
                                  (click)="enableAuthor(i)">
                            <i class="bi bi-pencil"></i>
                          </button>

                          <button *ngIf="author.get('fullName')?.disabled"
                                  class="btn btn-outline-danger"
                                  (click)="removeAuthor(i)">
                            <i class="bi bi-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Секция контактной информации -->
              <div class="row g-3">

                <div class="col-12 col-md-4">
                  <label class="form-label">Телефон <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="phone" required [showMaskTyped]="true"
                         mask="+0 (000) 000-0000"
                         [ngClass]="{'has-error': formJob.get('phone')?.invalid && formJob.get('phone')?.touched}">
                </div>

                <div class="col-12 col-md-4">
                  <label class="form-label">
                    ORCID
                    <i class="fas fa-question-circle hover-icon" (click)="op.show($event)"></i>
                    <p-popover #op
                               styleClass="fixed-width-popover"
                               [style]="{maxWidth: '400px', width: '100%'}">
                      <div class="popover-content">
                        <div class="popover-header">
                          <h5 class="popover-title">Что такое ORCID?</h5>
                        </div>
                        <div class="popover-body">
                          <p class="popover-text">
                            ORCID (Open Researcher and Contributor ID) — это уникальный идентификатор исследователя,
                            который позволяет установить связь между авторами и их работами.
                            Формат: 16 цифр и/или латинских букв, например, <code>0000-0000-0000-0000</code>.
                          </p>
                          <div class="text-right">
                            <a href="https://info.orcid.org/ru/%D0%BA%D0%B0%D0%BA%D0%BE%D0%B9-%D1%83-%D0%BC%D0%B5%D0%BD%D1%8F-%D0%B8%D0%B4%D0%B5%D0%BD%D1%82%D0%B8%D1%84%D0%B8%D0%BA%D0%B0%D1%82%D0%BE%D1%80/"
                               target="_blank"
                               class="popover-link">
                              Подробнее <i class="fas fa-external-link-alt ml-1"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </p-popover>
                  </label>
                  <input type="text" class="form-control text-uppercase"
                         formControlName="orcId"
                         [showMaskTyped]="true"
                         mask="SSSS-SSSS-SSSS-SSSS"
                         placeholder="0000-0000-0000-0000"
                         [patterns]="customOrcidPattern">
                </div>

                <div class="col-12 col-md-4">
                  <label class="form-label">
                    РИНЦ ID (Author ID)
                    <i class="fas fa-question-circle hover-icon" (click)="opRinc.show($event)"></i>
                    <p-popover #opRinc
                               styleClass="fixed-width-popover"
                               [style]="{maxWidth: '400px', width: '100%'}">
                      <div class="popover-content">
                        <div class="popover-header">
                          <h5 class="popover-title">Что такое РИНЦ ID?</h5>
                        </div>
                        <div class="popover-body">
                          <p class="popover-text">
                            РИНЦ ID (AuthorID) — уникальный идентификатор автора в Российском индексе научного
                            цитирования.
                            Позволяет однозначно идентифицировать исследователя и его публикации.
                          </p>
                          <div class="text-right">
                            <a href="https://www.hse.ru/scholarly-integration/howtofindid"
                               target="_blank"
                               class="popover-link">
                              Подробнее <i class="fas fa-external-link-alt ml-1"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </p-popover>
                  </label>
                  <input type="text" class="form-control"
                         formControlName="rincId"
                         [maxLength]="20"
                         appNumbersOnly>
                </div>

                <div class="col-12 col-md-4">
                  <label class="form-label">Организация <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="organization" required [maxlength]="100"
                         [ngClass]="{'has-error': formJob.get('organization')?.invalid && formJob.get('organization')?.touched}">
                </div>

                <div class="col-12 col-md-4">
                  <label class="form-label">Ученая степень</label>
                  <input type="text" class="form-control" formControlName="academicDegree" [maxlength]="100">
                </div>

                <div class="col-12 col-md-4">
                  <label class="form-label">Ученое звание</label>
                  <input type="text" class="form-control" formControlName="academicTitle" [maxlength]="100">
                </div>

              </div>

              <div class="row g-3">
                <div *ngIf="this.currentJob && this.currentJob.files.length > 0" class="col-md-12">
                  <label class="form-label">Файлы</label>
                  <div class="list-group">
                    <a *ngFor="let file of currentJob!!.files"
                       (click)="downloadFile(file.uuid)"
                       class="list-group-item list-group-item-action d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center">
                      <div class="d-flex align-items-center flex-grow-1">
                        <i class="bi bi-file-earmark me-2"></i>
                        <span>{{ file.originalName }}</span>
                      </div>
                      <small
                          class="text-muted file-date mt-2 mt-md-0 me-3">Добавлено: {{ file.uploadTime | date:'dd.MM.yyyy HH:mm' }}</small>
                      <i class="bi bi-x text-danger"
                         (click)="confirmDeleteFile($event, file.uuid); $event.stopPropagation()"></i>
                    </a>
                  </div>
                </div>
              </div>

              <!-- Добавление файлов -->
              <div class="mb-3">
                <label class="form-label">Прикрепить файлы <span class="text-danger">*</span></label>
                <input type="file"
                       class="form-control"
                       formControlName="files"
                       accept=".docx,.pdf"
                       multiple
                       (change)="onSelectedFiles($event)"
                       (drop)="onDropFiles($event)"
                       (dragover)="onDragOver($event)"
                       [ngClass]="{'has-error': formJob.get('files')?.invalid && formJob.get('files')?.touched}">
                <div class="form-text">Допустимые форматы: DOCX, PDF</div>
              </div>

              <!-- Кнопки -->
              <div class="col-12 d-flex justify-content-end gap-2">
                <button type="submit"
                        class="btn btn-primary"
                        [disabled]="formJob.invalid || savingJob || currentJob?.files?.length === 0"
                        (click)="saveJob()">
                  <span *ngIf="!savingJob && !uploadingFiles">Сохранить работу</span>
                  <span *ngIf="savingJob">
                    <app-loading-spinner size="sm" />
                    Сохранение...
                  </span>
                  <span *ngIf="uploadingFiles">
                    <app-loading-spinner size="sm" />
                    Отправка...
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
