<section id="container__main">
  <div class="container">
    <p-toast [breakpoints]="{ '768px': { width: '90%', right: '0', left: '20px' } }" preventOpenDuplicates="true" />
    <p-confirm-popup />
    <div *ngIf="profileUser" class="main">
      <app-edit-profile-form
        [currentUser]="currentUser"
        [profileUser]="profileUser"
        [profileUserId]="profileUserId"
        (dirtyChange)="onProfileDirtyChange($event)"
      />

      <app-manage-user-access-actions
        *ngIf="isAdmin() && !showButtonsToChange()"
        [profileUser]="profileUser"
      />

      <div *ngIf="showButtonsToChange()" class="mt-3">
        <a routerLink="/auth/change-password" class="btn btn-outline-secondary">Сменить пароль</a>
      </div>

    </div>
  </div>
</section>
