<header class="p-3 bg-dark text-white fixed-top" >
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a [routerLink]="['']"  class="logo__link d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img class="icon bi me-2" height="65" src="../../../../assets/pictures/header/nnstu.svg">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li (click)="toPage('conferences')" *ngIf="loggedUser != null"><a class="nav-link px-2 text-white head-text">Конференции</a></li>
        <li (click)="toPage('jobs')" *ngIf="!isSuperAdmin() && loggedUser != null"><a class="nav-link px-2 text-white head-text">Мои статьи</a></li>
        <li (click)="toPage('all-users')" *ngIf="isSuperAdmin()"><a class="nav-link px-2 text-white head-text">Пользователи</a></li>
      </ul>

      <div class="text-end" *ngIf="!checkLogin()">
        <button type="button" data-bs-toggle="modal" data-bs-target="#windowLogIn" class="btn btn-outline-light me-2">Вход</button>
        <button type="button" data-bs-target="#windowRegistration" data-bs-toggle="modal" class="btn btn-warning">Регистрация</button>

      </div>

      <div class="dropdown text-end" *ngIf="checkLogin()">
        <a href="#" type="button" class="dropdown-toggle d-block text-white text-decoration-none" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
          {{this.currentUser.firstName + ' ' + this.currentUser.lastName}}
        </a>

        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
          <li><a class="dropdown-item" type="button" (click)="toPage('profile/' + this.currentUser.id)">Профиль</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" (click)="logout()">Выход</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!-- FORM LOGIN -->
<div class="modal fade modal-signin" (keyup.enter)="pressBtn('loginBtn')" id="windowLogIn" tabindex="-1" aria-labelledby="windowLogIn" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" id="login">
    <div class="modal-content rounded-3 shadow">
      <div class="modal-header p-4 pt-4 pb-4 border-bottom-0">
        <h2 class="fw-bold mb-0" style="color: #2D2D2D;">Вход в аккаунт</h2>
        <button type="button" #closeModalLogIn class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body p-4 pb-3 pt-0">
        <form [formGroup]="loginForm">
          <div class="form-floating mb-3" [ngClass]="{'has-error': loginForm.get('email')?.invalid && loginForm.get('email')?.touched}">
            <input type="email" class="form-control rounded-3" formControlName="email" id="floatingInput">
            <label for="floatingInput">Email <span style="color: red;">*</span></label>
          </div>
          <div class="form-floating mb-3" [ngClass]="{'has-error': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}">
            <input type="password" class="form-control rounded-3" formControlName="password" id="floatingPassword">
            <label for="floatingPassword">Пароль <span style="color: red;">*</span></label>
          </div>
          <div class="text-center" style="color: #D80000; padding-bottom: 10px">
            <span *ngIf="invalidLogin">Неверные логин или пароль</span>
          </div>
          <button class="w-100 btn btn-lg rounded-3 btn-primary" style="background-color: #33486E;" type="submit" (click)="login()" [disabled]="loginForm.invalid">Вход</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- FORM REGISTRATION -->

<div class="modal fade modal-signin" (keyup.enter)="pressBtn('buttonNext')" id="windowRegistration" tabindex="-1" aria-labelledby="windowRegistration" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" id="registration">
    <div class="modal-content rounded-3 shadow">
      <div class="modal-header p-4 pt-4 pb-4 border-bottom-0">
        <h2 class="fw-bold mb-0" style="color: #2D2D2D;">Регистрация</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body p-4 pb-3 pt-0">
        <form [formGroup]="formRegistration" (keyup.enter)="pressBtn('button__code')">

          <div class="form-floating mb-3" [ngClass]="{'has-error': formRegistration.get('lastName')?.invalid && formRegistration.get('lastName')?.touched}">
            <input type="fullName" class="form-control rounded-3" formControlName="lastName">
            <label for="floatingInput">Фамилия <span style="color: red;">*</span></label>
          </div>
<!--          <span class="text-black" *ngIf="formRegistration.get('lastName')?.invalid && formRegistration.get('lastName')?.touched">-->
<!--            <span *ngIf="formRegistration.get('lastName')?.errors?.['required']">Дата рождения не может быть пустой</span>-->
<!--            <span *ngIf="formRegistration.get('lastName')?.errors?.['minlength'] && formRegistration.get('lastName')?.errors?.['minlength']['requiredLength']">-->
<!--         Дата рождения должна быть больше {{ formRegistration.get('lastName')?.errors?.['minlength']['requiredLength'] }}-->
<!--              символов. Сейчас {{ formRegistration.get('lastName')?.errors?.['minlength']['actualLength'] }}.-->
<!--            </span>-->
<!--          </span>-->

          <div class="form-floating mb-3" [ngClass]="{'has-error': formRegistration.get('firstName')?.invalid && formRegistration.get('firstName')?.touched}">
            <input type="fullName" class="form-control rounded-3" formControlName="firstName">
            <label for="floatingInput">Имя <span style="color: red;">*</span></label>
          </div>

          <div class="form-floating mb-3">
            <input type="fullName" class="form-control rounded-3" formControlName="middleName">
            <label for="floatingInput">Отчество </label>
          </div>

          <div class="form-floating mb-3" [ngClass]="{'has-error': formRegistration.get('phone')?.invalid && formRegistration.get('phone')?.touched}">
            <input type="phone" prefix="+7" mask=" (000) 000-0000" formControlName="phone" class="form-control rounded-3">
            <label for="floatingInput">Номер телефона <span style="color: red;">*</span></label>
          </div>

          <div class="form-floating mb-3" [ngClass]="{'has-error': formRegistration.get('email')?.invalid && formRegistration.get('email')?.touched}">
            <input type="email" class="form-control rounded-3" formControlName="email">
            <label for="floatingInput">Email <span style="color: red;">*</span></label>
          </div>

          <div class="form-floating mb-3">
            <input type="organization" class="form-control rounded-3" formControlName="organization">
            <label for="floatingInput">Аффилиация (организация) </label>
          </div>

          <div class="form-floating mb-3">
            <input type="academicDegree" class="form-control rounded-3" formControlName="academicDegree">
            <label for="floatingInput">Ученая степень</label>
          </div>

          <div class="form-floating mb-3">
            <input type="academicTitle" class="form-control rounded-3" formControlName="academicTitle">
            <label for="floatingInput">Ученое звание</label>
          </div>

          <div class="form-floating mb-3" [ngClass]="{'has-error': formRegistration.get('password')?.invalid && formRegistration.get('password')?.touched}">
            <input type="password" class="form-control rounded-3" formControlName="password">
            <label for="floatingInput">Пароль <span style="color: red;">*</span></label>
          </div>
          <div class="form-floating mb-3" [ngClass]="{'has-error': formRegistration.get('confirmedPassword')?.invalid && formRegistration.get('confirmedPassword')?.touched}">
            <input type="password" class="form-control rounded-3" formControlName="confirmedPassword">
            <label for="floatingInput">Подтверждение пароля <span style="color: red;">*</span></label>
          </div>


          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" style="background-color: #33486E;" data-bs-target="#RegStatus" type="submit" (click)="registration()" *ngIf="!showRegStatus" [disabled]="formRegistration.invalid" data-bs-dismiss="modal">Регистрация</button>
          <small class="text-muted"><span style="color: red;">*</span> Нажимая зарегистрироваться, вы соглашаетесь с <a href="">правилами</a></small>

        </form>
      </div>
    </div>
  </div>
</div>

<!--
 FORM CODE
<div class="modal fade" id="windowCode" tabindex="-1" aria-labelledby="windowCode" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="code">
    <div class="modal-content" id="background__code">
      <h5 class="modal-title">Регистрация</h5>
      <form [formGroup]="formCode">
          <div class="form-group col-7">
            <label>Введите код высланный на ваш e-mail</label>
            <input type="code" formControlName="code" class="input__modal"/>
          </div>
        <button type="submit" id="button__code" data-bs-dismiss="modal">
          Зарегистрироваться
        </button>
      </form>
    </div>
  </div>
</div>
-->
