<section id="container__main">
  <div class="container">

    <div *ngIf="currentConference.id !== undefined" class="main">
      <div class="row d-flex align-items-center konf-pref rounded-3">
        <div class="d-inline-flex align-items-center col-8">
          <div class="conf-name-adress text-black">
            Конференции / {{this.currentConference.title}}
          </div>
        </div>
<!--        <div class="d-inline-flex align-items-center col-4 text-black" *ngIf="isAdminAbsolute()" style="height: 17px; font-size: 20px;">-->
<!--          {{this.currentConferenceAdmin.firstName != null ? "Администратор: "+ this.currentConferenceAdmin.firstName : ''}}-->
<!--        </div>-->
      </div>


      <div class="row konf-information rounded-3">

        <div class="col-12 conf-title text-black">{{this.currentConference.title}}</div>
        <div class="col-4 conf-info-text text-black">Организация: {{this.currentConference.organization}}</div>
        <div class="col-4 conf-info-text text-black text-center">Дата начала: {{DateService.formatDate(this.currentConference.startDate)}}</div>
        <div class="col-4 conf-info-text text-black text-end">Дата завершения: {{DateService.formatDate(this.currentConference.endDate)}}</div>
        <div class="col-4 conf-info-text text-black ">Статус: <span [style.color]="this.currentConference.status == 'ACTIVE' ? 'green' : this.currentConference.status == 'CLOSED' ? '#D80000' : '#B76E00'">{{ conferenceStatusMap[this.currentConference.status] }}</span></div>
        <div class="col-4 conf-info-text text-black text-center"><span *ngIf="isModeratorOfThisConference()">Количество участников: {{this.countUsers}}</span></div>
        <div class="col-4 conf-info-text conf-btn-users-list text-black text-end"><a *ngIf="isModeratorOfThisConference() || isReviewer()" (click)="checkUsers()">Перейти к списку участников</a></div>

        <div class="row conf-info-section-item" style="margin-top: 10px;" *ngIf="this.sections.length !== 0">
          <div class="col-6 conf-info-section" style="padding-right: 5px;">
            <div class="conf-section-title text-center text-white rounded-3">Секция</div>
          </div>
          <div class="col-6 conf-info-section" style="padding-left: 5px;">
            <div class="conf-section-title text-center text-white rounded-3">Руководитель</div>
          </div>


          <div class="row conf-info-section-item" *ngFor="let section of this.sections">
            <div class="col-6 d-inline-flex conf-info-section" style="padding-right: 5px;">
              <div class="section-text w-100 d-flex justify-content-center align-items-center text-black rounded-3"><div>{{section.title}}</div></div>
            </div>
            <div class="col-6 d-inline-flex conf-info-section" style="padding-left: 5px;">
              <div class="section-text text-center w-100 d-flex justify-content-center align-items-center text-black rounded-3">
                {{section.leaders.length != 0 ? getLeadersString(section.leaders) : "Не назначен"}}</div>
            </div>
          </div>
        </div>

<!--        <div class="row conf-info-section-item" style="margin-top: 10px;" *ngIf="this.currentConference.tags.length != 0">-->
<!--          <div class="col-12 conf-info-section" style="padding-right: 5px;">-->
<!--            <div class="conf-section-title text-center text-white rounded-3">Критерии оценивания</div>-->
<!--          </div>-->

<!--          <div class="row conf-info-section-item" *ngFor="let tag of this.currentConference.tags">-->
<!--            <div class="col-12 d-inline-flex conf-info-section" style="padding-right: 5px;">-->
<!--              <div class="section-text w-100 d-flex justify-content-center align-items-center text-black rounded-3"><div>{{tag}}</div></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <div *ngIf="!this.addingJob" class="col-12 section-text conf-desc rounded-3" style="margin-top: 10px;">
          <div class="conf-info-text text-black rounded-3" style="margin: 0px;">{{this.currentConference.description}}</div>
        </div>

        <div *ngIf="this.addingJob" style="margin-top: 20px; padding: 0px;">
          <!-- Загрузка через проводник и перетаскиванием -->
          <form [formGroup]="formAddJob">
            <div class="row" style="margin-left: 0px;">
              <div class="col-12" style="padding-left: 0px; margin-bottom: 20px;" [ngClass]="{'has-error': formAddJob.get('title')?.invalid && formAddJob.get('title')?.touched}">
                <label class="second-text strong text-black" for="floatingInput">Название <span style="color: red;">*</span></label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="title"
                  id="floatingInput">
              </div>
            </div>
            <div>
              <div formArrayName="authors">
                <div *ngFor="let author of authors.controls; let i = index">
                  <div class="row" style="margin-left: 0px;" [formGroupName]="i" >
                    <div class="col-3" style="padding-left: 0px; margin-bottom: 20px;">
                      <label class="second-text strong text-black" for="floatingInput">Соавтор {{i+1}}</label>
                      <input type="text" class="form-control author-text text-black" formControlName="fullName" placeholder="ФИО" id="floatingInput">
                    </div>
                    <div class="col-3" style="padding-left: 0px; margin-bottom: 20px;">
                      <label class="second-text strong text-black" for="floatingInput"></label>
                      <input type="text" class="form-control author-text text-black" formControlName="organization" placeholder="Организация">
                    </div>
                    <div class="col-3" style="padding-left: 0px; margin-bottom: 20px;">
                      <label class="second-text strong text-black" for="floatingInput"></label>
                      <input type="text" class="form-control author-text text-black" formControlName="email" placeholder="Почта">
                    </div>
                    <div *ngIf="!author.get('fullName')?.disabled" class="col-3" style="padding-left: 0px; margin-bottom: 20px;">
                      <label class="second-text strong text-black" for="floatingInput"></label>
                      <button  class="form-control rounded-3 btn section-text bg-black text-white" type="button" (click)="disableAuthor(i)">Сохранить</button>
                    </div>
                    <div *ngIf="author.get('fullName')?.disabled" class="col-2" style="padding-left: 0px; margin-bottom: 20px;">
                      <label class="second-text strong text-black" for="floatingInput"></label>
                      <button  class="form-control rounded-3 btn section-text bg-black text-white" type="button" (click)="enableAuthor(i)">Изменить</button>
                    </div>
                    <div *ngIf="author.get('fullName')?.disabled" class="col-1" style="padding-left: 0px; margin-bottom: 20px;">
                      <label class="second-text strong text-black" for="floatingInput"></label>
                      <button  class="form-control rounded-3 btn section-text bg-black text-white" type="button" (click)="removeAuthor(i)">Удалить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
              <div class="col-12" style="padding-left: 0px; margin-bottom: 20px;" [ngClass]="{'has-error': formAddJob.get('description')?.invalid && formAddJob.get('description')?.touched}">
                <label class="second-text strong text-black" for="floatingInput">Аннотация <span style="color: red;">*</span></label>
                <textarea type="text" class="bg-white form-control section-area text-black" formControlName="description"
                          id="floatingInput"></textarea>
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;" [ngClass]="{'has-error': formAddJob.get('phone')?.invalid && formAddJob.get('phone')?.touched}">
                <label class="second-text text-black" for="floatingInput">Телефон <span style="color: red;">*</span></label>
                <input type="text" mask="+0 (000) 000-0000" class="bg-white form-control section-text text-black" formControlName="phone"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;" [ngClass]="{'has-error': formAddJob.get('orcId')?.invalid && formAddJob.get('orcId')?.touched}">
                <label class="second-text text-black" for="floatingInput">ORCID <span style="color: red;">*</span></label>
                <input type="text" mask="0000-0000-0000-0000" placeholder="0000-0000-0000-0000" class="bg-white form-control section-text text-black" formControlName="orcId"
                       id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;"[ngClass]="{'has-error': formAddJob.get('rincId')?.invalid && formAddJob.get('rincId')?.touched}">
                <label class="second-text text-black" for="floatingInput">РИНЦ ID (Author ID) <span style="color: red;">*</span></label>
                <input type="text" mask="0000-0000" placeholder="0000-0000" class="bg-white form-control section-text text-black" formControlName="rincId"
                       id="floatingInput">
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;" [ngClass]="{'has-error': formAddJob.get('organization')?.invalid && formAddJob.get('organization')?.touched}">
                <label class="second-text text-black" for="floatingInput">Организация <span style="color: red;">*</span></label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">Ученая степень</label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="academicDegree"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">Ученое звание</label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="academicTitle"
                  id="floatingInput">
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Секция <span style="color: red;">*</span></label>
                <select class="bg-white form-control section-text text-black text-center" style="height: 47px; padding: 10px; margin-top: 15px;"
                        formControlName="section" (change)="updateSection($event)">
                  <option class="text-center" selected [ngValue]="undefined" style="font-size: 16px;">Выберите</option>
                  <option *ngFor="let section of sections">{{ section.title }}</option>
                </select>
              </div>
            </div>
            <div class="input-group">
              <input formControlName="files" class="bg-white form-control section-text text-black" type="file" accept=".docx,.doc,.pdf" multiple (change)="onSelectedFiles($event)" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            </div>
          </form>

        </div>

        <div class="row align-items-center" style="margin-bottom: 20px; margin-top: 10px;">
          <div class="col-4 conf-info-text text-black">

          </div>
          <div class="col-4 conf-info-text text-black text-center">
            <button type="button" class="form-control rounded-3 btn btn-pref text-white" (click)="addJob()" *ngIf="!isAdmin() && this.currentConference.status == 'ACTIVE' && !this.addingJob">Добавить</button>
            <button type="button" class="form-control rounded-3 btn btn-pref text-white" (click)="openJob()" *ngIf="!isAdmin() && this.currentConference.status == 'ACTIVE' && this.currentUserJobId != null  && !this.addingJob">Посмотреть работы</button>
            <button type="button" class="form-control rounded-3 btn btn-pref text-white" (click)="editConference()" *ngIf="isModeratorOfThisConference() && !this.addingJob">Изменить</button>
            <button type="button" class="form-control rounded-3 btn btn-pref text-white" [disabled]="formAddJob.invalid" (click)="createJob()" *ngIf="!isAdmin() && this.currentConference.status == 'ACTIVE' && this.addingJob">Сохранить</button>
          </div>
          <div class="col-4 conf-info-text text-black text-end">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
