<header class="p-3 bg-dark text-white fixed-top"
  style="margin-top: 87px;background-color: #33486E!important; z-index: 9;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li (click)="toPage('conferences')"><a class="nav-link px-2 text-white head-text">Конференции</a></li>
        <li (click)="toPage('my-jobs')"><a class="nav-link px-2 text-white head-text">Мои статьи</a></li>
        <li (click)="toPage('all-users')" *ngIf="isSuperAdmin()"><a class="nav-link px-2 text-white head-text">Пользователи</a></li>
        <li><a href="#" class="nav-link px-2 text-white head-text">Контакты</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- Сама конференция админка / обычная -->


<section id="conference">
  <div class="container">

    <div class="main">
      <div class="row d-flex align-items-center konf-pref rounded-3">
        <div class="d-inline-flex align-items-center col-8">
          <div class="conf-name-adress text-black">
            Конференции / {{this.currentConference.title}}
          </div>
        </div>
        <div class="d-inline-flex align-items-center col-4 text-black" *ngIf="isAdminAbsolute()" style="height: 17px; font-size: 20px;">
          {{this.currentConferenceAdmin.fullName != null ? "Администратор: "+ this.currentConferenceAdmin.fullName : ''}}
        </div>
      </div>



      <div class="row konf-information rounded-3">
        
          <div class="col-12 conf-title text-black">{{this.currentConference.title}}</div>
          <div class="col-4 conf-info-text text-black">Организация: {{this.currentConference.organization}}</div>
          <div class="col-4 conf-info-text text-black text-center">Дата начала: {{this.currentConference.startDate}}</div>
          <div class="col-4 conf-info-text text-black text-end">Дата завершения: {{this.currentConference.endDate}}</div>
          <div class="col-4 conf-info-text text-black ">Статус: {{ this.statusMap.get(this.currentConference.status) }}</div>
          <div class="col-4 conf-info-text text-black text-center"><span *ngIf="isAdminConference()">Количество участников: {{this.countUsers}}</span></div>
          <div class="col-4 conf-info-text conf-btn-users-list text-black text-end"><a *ngIf="isAdminConference()" (click)="checkUsers()">Перейти к списку участников</a></div>
        
          <div class="row conf-info-section-item" style="margin-top: 10px;">
            <div class="col-6 conf-info-section" style="padding-right: 5px;">
              <div class="conf-section-title text-center text-white rounded-3">Секция</div>
            </div>
            <div class="col-6 conf-info-section" style="padding-left: 5px;">
              <div class="conf-section-title text-center text-white rounded-3">Руководитель</div>
            </div>
          

          <div class="row conf-info-section-item" *ngFor="let section of this.sections">
            <div class="col-6 conf-info-section" style="padding-right: 5px;">
              <div class="section-text text-center text-black rounded-3">{{section.title}}</div>
            </div>
            <div class="col-6 conf-info-section" style="padding-left: 5px;">
              <div class="section-text text-center text-black rounded-3">{{section.leaderName}}</div>
            </div>
          </div>
        </div>
        
          <div class="col-12 section-text conf-desc rounded-3" style="margin-top: 10px;">
            <div class="conf-info-text text-black rounded-3" style="margin: 0px;">Описание: {{this.currentConference.description}}</div>
          </div>
        

        <div *ngIf="this.addingJob" style="margin-top: 20px; padding: 0px;">
          <!-- Загрузка через проводник и перетаскиванием -->
          <form>
            <div class="row" style="margin-left: 0px;">
              <div class="col-12" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text strong text-black" for="floatingInput">Название <span style="color: red;">*</span></label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                  id="floatingInput">
              </div>
              <div class="col-12" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Соавторы</label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                  id="floatingInput">
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Email <span style="color: red;">*</span></label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">Телефон <span style="color: red;">*</span></label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                  id="floatingInput">
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Организация <span style="color: red;">*</span></label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">Ученая степень</label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">Ученое звание</label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                  id="floatingInput">
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">ORCID <span style="color: red;">*</span></label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">РИНЦ ID <span style="color: red;">*</span></label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                  id="floatingInput">
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Секция <span style="color: red;">*</span></label>
                <input type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                  id="floatingInput">
              </div>
            </div>
            <div class="input-group">
              <input class="bg-white form-control section-text text-black" type="file" accept=".docx,.doc,.pdf" multiple (change)="onSelectedFiles($event)" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
              <!-- <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Добавить</button> -->
            </div>
            <!-- <input type="file" accept=".docx,.doc,.pdf" multiple (change)="onSelectedFiles($event)"> -->
          </form>

          <!-- Загрузка перетаскиванием на область -->
<!--          <ul oi-file="options">-->
<!--            <li ng-repeat="item in items">-->
<!--              <img ng-src="{{item.thumb}}">-->
<!--            </li>-->
<!--          </ul>-->
        </div>

        <div class="row align-items-center" style="margin-bottom: 20px; margin-top: 10px;">
          <div class="col-4 conf-info-text text-black">

          </div>
          <div class="col-4 conf-info-text text-black text-center">
            <button type="button" class="form-control rounded-3 btn btn-pref text-white" (click)="editConference()" *ngIf="isAdminConference()">Изменить</button>
            <button type="button" class="form-control rounded-3 btn btn-pref text-white" (click)="addJob()" *ngIf="!isAdminConference() && this.currentConference.status == 'ACTIVE' && !this.addingJob">Добавить</button>
            <button type="button" class="form-control rounded-3 btn btn-pref text-white" (click)="saveFiles()" *ngIf="!isAdminConference() && this.currentConference.status == 'ACTIVE' && this.addingJob">Сохранить</button>
          </div>
          <div class="col-4 conf-info-text text-black text-end">

          </div>
        </div>


        <!--<div class="konf-description text-black">Описание: {{conf.description}}</div>-->
      </div>
    </div>
  </div>
</section>
