<section id="container__main">
  <div class="container">

    <div class="main">
      <div class="row d-flex align-items-center konf-pref rounded-3">
        <div class="d-inline-flex align-items-center col-10">
          <div class="text-black" style="font-size: 20px; margin-left: 10px;">
            Мои статьи {{this.currentConferenceId != undefined ? ' / ' + this.currentConference.title : ''}}
          </div>
<!--          Поиск  -->
        </div>
      </div>

      <div *ngIf="!this.jobs || this.jobs.length === 0" class="text-center" style="font-size: 30px; margin-top: 50px">
        Нет добавленных статей
      </div>

      <div *ngIf="this.jobs && this.jobs.length > 0" class="row konf-list rounded-3">
        <div class="col-md-3 konf-item-outer rounded-3" *ngFor="let job of this.jobs">

          <div class="konf-item rounded-3">
<!--            <div class="img-info-conf">-->
<!--              <img style="border-radius: var(&#45;&#45;bs-border-radius-lg) var(&#45;&#45;bs-border-radius-lg) 0 0;" src="/assets/pictures/conf-images/demo-img.png" alt="">-->
<!--            </div>-->
            <div class="general-info-conf">
              <div class="konf-name rounded-3">{{ job.title }}</div>
              <div class="konf-organization text-black">Конференция: {{ job.conferenceTitle }}</div>
            </div>
            <div class="second-info-conf" style="border-radius: 0 0 var(--bs-border-radius-lg) var(--bs-border-radius-lg);">
              <div class="konf-description text-black">Автор: <span [style.color]="job.userId == currentUser.id ? 'green' : '#D80000'">{{ job.userName }}</span></div>
              <div class="row justify-content-end">
                <button type="button" class="btn btn-konf text-white px-1 rounded-3" (click)="openJob(job.id)">Открыть</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
