<header class="p-3 bg-dark text-white fixed-top"
        style="margin-top: 87px;background-color: #33486E!important; z-index: 9;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li (click)="toPage('conferences')"><a class="nav-link px-2 text-white head-text">Конференции</a></li>
        <li (click)="toPage('my-jobs')"><a class="nav-link px-2 text-white head-text">Мои статьи</a></li>
        <li (click)="toPage('all-users')" *ngIf="isSuperAdmin()"><a class="nav-link px-2 text-white head-text">Пользователи</a></li>
        <li><a href="#" class="nav-link px-2 text-white head-text">Контакты</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- Сама конференция админка / обычная -->


<section id="jobs">
  <div class="container">

    <div class="main">
      <div class="row d-flex align-items-center konf-pref">
        <div class="d-inline-flex align-items-center col-10">
          <div class="conf-name-adress text-black">
            Конференции / {{ this.currentConference.title }}
          </div>
        </div>
      </div>


      <div class="row konf-information">
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-12 conf-title text-black">{{ this.currentConference.title }}</div>
          <div class="col-4 conf-info-text text-black">Организация: {{ this.currentConference.organization }}</div>
          <div class="col-4 conf-info-text text-black text-center">Дата начала: {{ this.currentConference.startDate }}
          </div>
          <div class="col-4 conf-info-text text-black text-end">Дата завершения: {{ this.currentConference.endDate }}
          </div>
          <div class="col-4 conf-info-text text-black ">
            Статус: {{ this.statusMap.get(this.currentConference.status) }}
          </div>
          <div class="col-4 conf-info-text text-black text-center"><span>Количество участников: {{ this.countUsers }}</span></div>
          <div class="col-4 conf-info-text conf-btn-users-list text-black text-end"><a (click)="downloadFilesConference()">Скачать
            все работы</a></div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
          <div class="row conf-info-section-item">
            <div class="col-3 conf-info-section">
              <div class="conf-section-title text-center text-white">Фамилия И.О.</div>
            </div>
            <div class="col-3 conf-info-section" style="padding-left: 5px;">
              <div class="conf-section-title text-center text-white">Название</div>
            </div>
            <div class="col-2 conf-info-section" style="padding-left: 5px;">
              <div class="conf-section-title text-center text-white">Секция</div>
            </div>
            <div class="col-2 conf-info-section" style="padding-left: 5px;">
              <div class="conf-section-title text-center text-white">Изменен</div>
            </div>
            <div class="col-2 conf-info-section" style="padding-left: 5px;">
              <div class="conf-section-title text-center text-white">Управление</div>
            </div>
          </div>

          <div class="row conf-info-section-item" *ngFor="let job of this.jobs">
            <div class="col-3 conf-info-section">
              <div class="jobs-list-text text-center text-black">{{ job.userName }}</div>
            </div>
            <div class="col-3 conf-info-section" style="padding-left: 5px;">
              <div class="jobs-list-text text-center text-black">{{ job.title }}</div>
            </div>
            <div class="col-2 conf-info-section" style="padding-left: 5px;">
              <div class="jobs-list-text text-center text-black">{{ job.sectionTitle }}</div>
            </div>
            <div class="col-2 conf-info-section" style="padding-left: 5px;">
              <div class="jobs-list-text text-center text-black">{{ job.dateTime }}</div>
            </div>
            <div class="col-1 conf-info-section" style="padding-left: 5px;">
              <div class="jobs-list-text text-center text-black download-pointer" (click)="openJob(String(job.id))">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5002 13.5L19.0003 19" stroke="black" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <circle cx="8" cy="8" r="7.25" stroke="black" stroke-width="1.5"/>
                </svg>
              </div>
            </div>
            <div class="col-1 conf-info-section" style="padding-left: 5px;">
              <div class="jobs-list-text text-center text-black download-pointer" (click)="downloadFilesJob(job)">
                <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7 14L6.29289 14.7071L7 15.4142L7.70711 14.7071L7 14ZM8 1C8 0.447715 7.55229 2.86409e-07 7 2.62268e-07C6.44772 2.38127e-07 6 0.447715 6 1L8 1ZM0.292893 8.70711L6.29289 14.7071L7.70711 13.2929L1.70711 7.29289L0.292893 8.70711ZM7.70711 14.7071L13.7071 8.70711L12.2929 7.29289L6.29289 13.2929L7.70711 14.7071ZM8 14L8 1L6 1L6 14L8 14Z"
                    fill="black"/>
                  <path d="M1 19H13" stroke="black" stroke-width="2" stroke-linecap="round"/>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="konf-description text-black">Описание: {{conf.description}}</div>-->
      </div>
    </div>
  </div>
</section>
