<section id="container__main">
  <div class="container">
    <p-toast [breakpoints]="{ '768px': { width: '90%', right: '0', left: '20px' } }" preventOpenDuplicates="true" />
    <div class="main">

      <div *ngIf="loadingConference" class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Загрузка...</span>
        </div>
      </div>

      <div *ngIf="!loadingConference" class="header-container">
        <div class="title-flex-wrapper">
          <h1 class="conference-title">
            {{currentConference.title}}
          </h1>
          <span class="status-badge"
                [ngClass]="{
                  'bg-success': currentConference.status === 'ACTIVE',
                  'bg-danger': currentConference.status === 'CLOSED',
                  'bg-warning': currentConference.status === 'ON_HOLD'
                }">
            {{ conferenceStatusMap[currentConference.status] }}
          </span>
        </div>
      </div>

      <!-- Основная информация -->
      <div *ngIf="!loadingConference" class="row g-4 mb-4">
        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <h5 class="card-title d-flex align-items-center">
                <i class="bi bi-building me-2"></i>Организация
              </h5>
              <p class="card-text">{{currentConference.organization}}</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <h5 class="card-title d-flex align-items-center">
                <i class="bi bi-calendar-range me-2"></i>Даты проведения
              </h5>
              <p class="card-text">
                {{DateService.formatDate(currentConference.startDate)}} —
                {{DateService.formatDate(currentConference.endDate)}}
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4" *ngIf="!isReviewer()">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <h5 class="card-title d-flex align-items-center">
                <i class="bi bi-people me-2"></i>Участники
              </h5>
              <p class="card-text">
                <span>{{countUsers}}</span>
                <a (click)="downloadFilesConference()"
                   class="btn btn-link p-0 ms-2">
                  <i class="bi bi-download me-2"></i>Скачать все
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!loadingJobs" class="mobile-scroll-container">
        <div class="card shadow-sm">
          <div class="card-body p-0">
            <!-- Заголовки таблицы -->
            <div class="grid-header bg-primary text-white">
              <div class="row g-0 align-items-center ">
                <div class="col-3 ">Автор</div>
                <div class="col-3 ">Название</div>
                <div class="col-3 ">Секция</div>
                <div class="col-2 ">Обновлено</div>
                <div class="col-1 ">Действия</div>
              </div>
            </div>

            <!-- Список пользователей -->
            <div class="user-list ">
              <div *ngIf="!jobs?.length" class="empty-state">
                <i class="bi bi-file-earmark-excel display-5 text-muted mb-3"></i>
                <p>Нет добавленных работ</p>
              </div>

              <div class="user-item" *ngFor="let job of jobs">
                <div class="row g-0 align-items-center ">
                  <!-- Данные пользователя -->
                  <div class="col-3 text-break" [title]="isReviewer() ? '-' : job.userName">
                    {{ isReviewer() ? '-' : job.userName }}
                  </div>
                  <div class="col-3 text-break">{{ job.title }}</div>
                  <div class="col-3 text-break">{{ job.sectionTitle }}</div>
                  <div class="col-2 ">
                    {{ DateService.formatDateTime(job.dateTime) }}
                  </div>
                  <div class="col-1 ">
                    <div class="btn-group">
                      <button class="btn btn-sm btn-outline-primary"
                              (click)="openJob(String(job.id))">
                        <i class="bi bi-eye"></i>
                      </button>
                      <button class="btn btn-sm btn-outline-success"
                              (click)="downloadFilesJob(job)">
                        <i class="bi bi-download"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Таблица работ -->
<!--      <div class="card shadow-sm">-->
<!--        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">-->
<!--          <h2 class="h5 mb-0">Работы участников</h2>-->
<!--          <button class="btn btn-sm btn-light"-->
<!--                  (click)="downloadFilesConference()"-->
<!--                  *ngIf="!isReviewer()">-->
<!--            <i class="bi bi-download me-2"></i>Скачать все-->
<!--          </button>-->
<!--        </div>-->

<!--        <div class="card-body p-0">-->
<!--          <div *ngIf="loadingJobs" class="text-center">-->
<!--            <div class="spinner-border" role="status">-->
<!--              <span class="visually-hidden">Загрузка...</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div *ngIf="!loadingJobs" class="table-responsive">-->
<!--            <table class="table table-hover mb-0">-->
<!--              <thead class="bg-light">-->
<!--              <tr>-->
<!--                <th>Автор</th>-->
<!--                <th>Название</th>-->
<!--                <th>Секция</th>-->
<!--                <th>Обновлено</th>-->
<!--                <th class="text-end">Действия</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr *ngFor="let job of jobs">-->
<!--                <td>{{ isReviewer() ? '-' : job.userName }}</td>-->
<!--                <td>{{ job.title }}</td>-->
<!--                <td>{{ job.sectionTitle }}</td>-->
<!--                <td>{{ DateService.formatDateTime(job.dateTime) }}</td>-->
<!--                <td class="text-end">-->
<!--                  <div class="btn-group">-->
<!--                    <button class="btn btn-sm btn-outline-primary"-->
<!--                            (click)="openJob(String(job.id))">-->
<!--                      <i class="bi bi-eye"></i>-->
<!--                    </button>-->
<!--                    <button class="btn btn-sm btn-outline-success"-->
<!--                            (click)="downloadFilesJob(job)">-->
<!--                      <i class="bi bi-download"></i>-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->

<!--          <div *ngIf="!loadingJobs && !jobs?.length" class="text-center p-4">-->
<!--            <i class="bi bi-file-earmark-excel display-5 text-muted mb-3"></i>-->
<!--            <p class="text-muted">Нет добавленных работ</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

    </div>
  </div>
</section>
