<section id="container__main">
  <div class="container">

    <div class="main">
      <div class="row d-flex align-items-center konf-pref rounded-3">
        <div class="d-inline-flex align-items-center col-10">
          <div class="text-black" style="font-size: 20px; margin-left: 10px;">
            Страница не найдена
          </div>
        </div>
      </div>

      <div class="text-center" style="font-size: 30px; margin-top: 50px">
        Упс.. Страница не найдена!
      </div>
    </div>
  </div>
</section>
