<div class="modal fade modal-signin" (keyup.enter)="registration()" id="windowRegistration" tabindex="-1" aria-labelledby="windowRegistration" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" id="registration">
    <div class="modal-content rounded-3 shadow">
      <div class="modal-header p-4 pt-4 pb-4 border-bottom-0">
        <h2 class="fw-bold mb-0" style="color: #2D2D2D;">Регистрация</h2>
        <button type="button" #closeModal class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearErrors()"></button>
      </div>

      <div class="modal-body p-4 pb-3 pt-0">
        <form [formGroup]="formRegistration" (keyup.enter)="registration()">
          <app-form-field
            id="lastName"
            label="Фамилия"
            [required]="true"
            [control]="lastNameControl">
          </app-form-field>

          <app-form-field
            id="firstName"
            label="Имя"
            [required]="true"
            [control]="firstNameControl">
          </app-form-field>

          <app-form-field
            id="middleName"
            label="Отчество"
            [control]="middleNameControl">
          </app-form-field>

          <app-phone-field
            id="phone"
            label="Номер телефона"
            [required]="true"
            [control]="phoneControl">
          </app-phone-field>

          <app-email-field
            id="email-reg"
            label="Почта"
            [required]="true"
            [control]="emailControl">
          </app-email-field>

          <app-password-field
            id="password-reg"
            inputId="password-reg"
            label="Пароль"
            [required]="true"
            [control]="passwordControl">
          </app-password-field>

          <app-password-field
            id="confirmedPassword"
            inputId="confirmedPassword"
            label="Подтверждение пароля"
            [required]="true"
            [control]="confirmedPasswordControl">
          </app-password-field>

          <div class="text-center text-red-600 pb-2">
            <span class="text-center" *ngIf="formRegistration.errors?.['passwordMismatch'] && formRegistration.touched">
              Пароли не совпадают
            </span>
            <span *ngIf="userBlockedReg">Пользователь с таким email заблокирован</span>
            <span *ngIf="userExists">Пользователь с таким email уже зарегистрирован</span>
          </div>

          <p-button 
            class="w-100 btn-login" 
            label="Регистрация" 
            type="submit" 
            [fluid]="true" 
            [loading]="loading" 
            (click)="registration()" 
            *ngIf="!showRegStatus" 
            [disabled]="formRegistration.invalid"/>

          <small class="text-muted">
            <span class="text-danger">*</span> Нажимая зарегистрироваться, вы соглашаетесь с <a href="">правилами</a>
          </small>
        </form>
      </div>
    </div>
  </div>
</div>

