<div class="modal fade modal-signin" (keyup.enter)="restorePassword()" id="windowRestore" tabindex="-1" aria-labelledby="windowRestore" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" id="restore">
    <div class="modal-content rounded-3 shadow">
      <div class="modal-header p-4 pt-4 pb-4 border-bottom-0">
        <h2 class="fw-bold mb-0" style="color: #2D2D2D;">Восстановление пароля</h2>
        <button type="button" #closeModal class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearErrors()"></button>
      </div>

      <div class="modal-body p-4 pb-3 pt-0">
        <form [formGroup]="formRestore" (keyup.enter)="restorePassword()">
          <app-email-field
            id="email-restore"
            label="Почта"
            [required]="true"
            [control]="emailControl">
          </app-email-field>

          <div class="text-center text-red-600 pb-2">
            <span *ngIf="restoreEmailNotExist">Пользователя с таким email не существует</span>
          </div>

          <p-button 
            class="w-100 btn-login" 
            label="Восстановить" 
            type="submit" 
            [fluid]="true" 
            [loading]="loading" 
            (click)="restorePassword()" 
            [disabled]="formRestore.invalid"/>
        </form>
      </div>
    </div>
  </div>
</div>

