<section id="conference">
  <div class="container">

    <div *ngIf="profileUser !== undefined" class="main">
      <div class="row d-flex align-items-center konf-pref rounded-3">
        <div class="d-inline-flex align-items-center col-4">
          <div class="conf-name-adress text-black">
            Email: {{this.profileUser.email}}
          </div>
        </div>
        <div class="col-4" style="padding-left: 0px;" *ngIf="this.isAdmin()">
          <div style="background-color: #212529;" class="users-list-text-btn text-center rounded-3 text-white" *ngIf="this.profileUser.role == 'MEMBER'" (click)="changeRole('MODERATOR')">
            <a>Назначить администратором</a>
          </div>
          <div style="background-color: #212529;" class="users-list-text-btn text-center rounded-3 text-white" *ngIf="this.profileUser.role == 'MODERATOR'" (click)="changeRole('MEMBER')">
            <a>Назначить участником</a>
          </div>
        </div>
        <div class="col-4" style="padding-left: 0px;" *ngIf="this.isAdmin()">
          <div style="background-color: #212529;" class="users-list-text-btn text-center rounded-3 text-white" *ngIf="this.profileUser.role != 'ADMIN' && this.profileUser.status == 'ACTIVE'" (click)="changeStatus('BANNED')">
            <a>Заблокировать</a>
          </div>
          <div style="background-color: #212529;" class="users-list-text-btn text-center rounded-3 text-white" *ngIf="this.profileUser.role != 'ADMIN' && this.profileUser.status == 'BANNED'" (click)="changeStatus('ACTIVE')">
            <a>Разблокировать</a>
          </div>
        </div>

      </div>

      <div class="row konf-information rounded-3">
        <span *ngIf="showButtonsToChange() && !this.profileUser.verified" class="text-bg-danger bg-opacity-75 w-50">Подтвердите аккаунт, перейдя по ссылке в письме</span>
        <span *ngIf="showButtonsToChange() && !this.profileUser.verified" class="w-50 text-black">Не пришло письмо? <a (click)="sendRepeatLink()" class="link-primary" style="cursor: pointer">Нажмите здесь, для повторной отправки</a></span>
        <div style="margin-top: 20px; padding: 0px;">
          <form [formGroup]="formProfile">
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text strong text-black" for="floatingInput">Фамилия</label>
                <input [readonly]="!allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="lastName"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text strong text-black" for="floatingInput">Имя</label>
                <input [readonly]="!allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="firstName"
                       id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text strong text-black" for="floatingInput">Отчество</label>
                <input [readonly]="!allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="middleName"
                       id="floatingInput">
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
                <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                  <label class="second-text text-black" for="floatingInput">Телефон</label>
                  <input [readonly]="!allowToChange()" type="text" mask="+0 (000) 000-0000" class="bg-white form-control section-text text-black" formControlName="phone"
                    id="floatingInput">
                </div>
                <div class="col-8" style="padding-left: 0px;">
                  <label class="second-text text-black" for="floatingInput">Организация</label>
                  <input [readonly]="!allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                         id="floatingInput">
                </div>
            </div>
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Пароль </label>
                <input [readonly]="!allowToChange()" type="password" class="bg-white form-control section-text text-black" formControlName="password"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Идентификатор ORCID </label>
                <input [readonly]="!allowToChange()" type="text" mask="0000-0000-0000-0000" class="bg-white form-control section-text text-black" formControlName="orcId"
                       id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">РИНЦ ID </label>
                <input [readonly]="!allowToChange()" type="text" mask="0000-0000" class="bg-white form-control section-text text-black" formControlName="rincId"
                       id="floatingInput">
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">Ученая степень</label>
                <input [readonly]="!allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="academicDegree"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">Ученое звание</label>
                <input [readonly]="!allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="academicTitle"
                  id="floatingInput">
              </div>
            </div>
          </form>

        </div>

        <div class="row" style="margin-bottom: 20px; margin-top: 10px; margin-left: 0px; padding: 0px;" *ngIf="showButtonsToChange()">
          <div class="col-4 conf-info-text text-black">
            <button style="margin: 0px; width: 100%;" type="button" [disabled]="true" class="form-control rounded-3 btn btn-pref text-white">Удалить</button>
          </div>
          <div class="col-4 conf-info-text text-black text-center">
            <button style="margin: 0px; width: 100%;" type="button" *ngIf="!editProfile" (click)="changeProfile()" class="form-control rounded-3 btn btn-pref text-white">Изменить</button>
            <button style="margin: 0px; width: 100%;" type="button" *ngIf="editProfile" (click)="cancelProfile()" class="form-control rounded-3 btn btn-pref text-white">Отменить</button>
          </div>
          <div class="col-4 conf-info-text text-black text-end">
            <button style="margin: 0px; width: 100%;" type="button" [disabled]="!editProfile" (click)="saveProfile()" class="form-control rounded-3 btn btn-pref text-white">Сохранить</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
