<!-- Сама конференция админка / обычная -->

<section id="conference">
  <div class="container">

    <div class="main">
      <div class="row d-flex align-items-center konf-pref rounded-3">
        <div class="d-inline-flex align-items-center col-8">
          <div class="conf-name-adress text-black">
            Email: {{this.profileUser.email}}
          </div>
        </div>
      </div>

      <div class="row konf-information rounded-3">

        <div style="margin-top: 20px; padding: 0px;">
          <!-- Загрузка через проводник и перетаскиванием -->
          <form [formGroup]="formProfile">
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text strong text-black" for="floatingInput">Фамилия</label>
                <input [readonly]="allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="lastName"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text strong text-black" for="floatingInput">Имя</label>
                <input [readonly]="allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="firstName"
                       id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text strong text-black" for="floatingInput">Отчество</label>
                <input [readonly]="allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="middleName"
                       id="floatingInput">
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
                <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                  <label class="second-text text-black" for="floatingInput">Телефон</label>
                  <input [readonly]="allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="phone"
                    id="floatingInput">
                </div>
                <div class="col-8" style="padding-left: 0px;">
                  <label class="second-text text-black" for="floatingInput">Организация</label>
                  <input [readonly]="allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="organization"
                         id="floatingInput">
                </div>
            </div>
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Пароль </label>
                <input [readonly]="allowToChange()" type="password" class="bg-white form-control section-text text-black" formControlName="password"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Идентификатор ORCID </label>
                <input [readonly]="allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="orcId"
                       id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">РИНЦ ID </label>
                <input [readonly]="allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="rincId"
                       id="floatingInput">
              </div>
            </div>
            <div class="row" style="margin-left: 0px;">
              <div class="col-4" style="padding-left: 0px; margin-bottom: 20px;">
                <label class="second-text text-black" for="floatingInput">Telegram </label>
                <input [readonly]="allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="telegram"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">Ученая степень</label>
                <input [readonly]="allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="academicDegree"
                  id="floatingInput">
              </div>
              <div class="col-4" style="padding-left: 0px;">
                <label class="second-text text-black" for="floatingInput">Ученое звание</label>
                <input [readonly]="allowToChange()" type="text" class="bg-white form-control section-text text-black" formControlName="academicTitle"
                  id="floatingInput">
              </div>
            </div>
          </form>

        </div>

        <div class="row" style="margin-bottom: 20px; margin-top: 10px; margin-left: 0px; padding: 0px;" *ngIf="showButtonsToChange()">
          <div class="col-4 conf-info-text text-black">
            <button style="margin: 0px; width: 100%;" type="button" [disabled]="!editProfile" class="form-control rounded-3 btn btn-pref text-white">Удалить</button>
          </div>
          <div class="col-4 conf-info-text text-black text-center">
            <button style="margin: 0px; width: 100%;" type="button" *ngIf="!editProfile" (click)="changeProfile()" class="form-control rounded-3 btn btn-pref text-white">Изменить</button>
            <button style="margin: 0px; width: 100%;" type="button" *ngIf="editProfile" (click)="cancelProfile()" class="form-control rounded-3 btn btn-pref text-white">Отменить</button>
          </div>
          <div class="col-4 conf-info-text text-black text-end">
            <button style="margin: 0px; width: 100%;" type="button" [disabled]="!editProfile" (click)="saveProfile()" class="form-control rounded-3 btn btn-pref text-white">Сохранить</button>
          </div>
        </div>


        <!--<div class="konf-description text-black">Описание: {{conf.description}}</div>-->
      </div>
    </div>
  </div>
</section>
