<div class="auth__form auth__password-step auth__form--password-pair">
  <div class="auth__password-field">
    <span class="auth__field-label auth__field-label--block">{{ firstLabel }}</span>
    <app-password-field
      [id]="passwordInputId"
      [inputId]="passwordInputInnerId"
      [label]="firstLabel"
      placeholder="Введите пароль"
      [hideLabel]="true"
      [required]="true"
      [control]="passwordControl"
      [feedback]="true"
    />
    <p class="auth__password-hint">
      {{ displayHint }}
    </p>
    <p *ngIf="showPasswordHintError()" class="auth__field-error">
      <span *ngIf="passwordControl.hasError('required')">Введите пароль</span>
      <span *ngIf="passwordControl.hasError('minlength')">Минимум 8 символов</span>
      <span *ngIf="passwordControl.hasError('pattern')">Требуются верхний и нижний регистр и спецсимвол</span>
    </p>
  </div>

  <div class="auth__password-field">
    <span class="auth__field-label auth__field-label--block">Повторите пароль</span>
    <app-password-field
      [id]="confirmInputId"
      [inputId]="confirmInputInnerId"
      label="Повторите пароль"
      placeholder="Повторите пароль"
      [hideLabel]="true"
      [required]="true"
      [control]="confirmPasswordControl"
      [feedback]="false"
    />
    <p *ngIf="showPasswordConfirmError()" class="auth__field-error">
      <span *ngIf="confirmPasswordControl.hasError('required')">Подтвердите пароль</span>
      <span *ngIf="confirmPasswordControl.hasError('mismatch')">{{ mismatchText }}</span>
    </p>
    <p *ngIf="showFormMismatchError()" class="auth__field-error">{{ mismatchText }}</p>
  </div>

  <label class="auth__terms" *ngIf="acceptTermsControl">
    <input type="checkbox" class="auth__terms-input" [formControl]="acceptTermsControl" />
    <span class="auth__terms-text">
      Я принимаю условия
      <a href="#" class="auth__link" (click)="$event.preventDefault()">политики конфиденциальности</a>
      и даю согласие на обработку моих персональных данных
    </span>
  </label>
  <p *ngIf="showAcceptTermsError()" class="auth__field-error auth__field-error--terms">Необходимо принять условия</p>
</div>
