<section id="container__main">
  <div class="container">
    <p-toast [breakpoints]="{ '768px': { width: '90%', right: '0', left: '20px' } }" preventOpenDuplicates="true" />
    <div class="main">
      <form [formGroup]="formCreateConference">
        <!-- Шапка -->
        <div class="header-container mb-4">
          <div class="d-flex align-items-center justify-content-between">
            <div class="title-flex-wrapper">
              <span class="status-badge bg-secondary">
                {{ currentConference ? 'Редактирование' : 'Создание' }}
              </span>
              <h1 class="conference-title">
                {{ formCreateConference.get('confName')?.value || 'Новая конференция' }}
              </h1>

            </div>

            <app-conference-admins-selector
              *ngIf="isAdmin()"
              [formGroup]="formCreateConference"
              [admins]="admins"
              (adminSelectionChange)="updateAdmin()"
            />
          </div>
        </div>

        <app-conference-main-fields
          [formGroup]="formCreateConference"
          [minDate]="minDate"
          [maxDate]="maxDate"
          [canEdit]="isMasterModeratorOfThisConference()"
          (statusChange)="updateStatus($event)"
        />

        <app-conference-sections-manager
          [sections]="sections"
          [loadingSections]="loadingSections"
          [canManageSections]="isMasterModeratorOfThisConference()"
          [isLeaderSection]="isLeaderSection.bind(this)"
          [createSection]="createSection.bind(this)"
          [currentUserId]="currentUser.id"
        />

        <app-conference-tags-manager
          [tags]="tags"
          [loadingTags]="loadingTags"
          [canManageTags]="isMasterModeratorOfThisConference()"
        />

        <div class="text-center mt-4">
          <button type="button"
                  class="btn btn-primary px-5"
                  [disabled]="formCreateConference.invalid"
                  (click)="currentConferenceId ? updateConference() : createConference()">
            <i class="bi bi-save me-2"></i>
            {{ currentConferenceId ? 'Сохранить изменения' : 'Создать конференцию' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
