<section id="personal-account__client">
  <div class="container">

    <div class="main">
      <div class="row d-flex align-items-center konf-pref rounded-3">
        <div class="d-inline-flex align-items-center col-10">
          <div class="pref-search-text text-black">
            Поиск пользователя
          </div>
          <input class="input-search rounded-3" type="text">
          <a href="#" class="pref-options">
            <svg width="30" height="33" viewBox="0 0 30 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.7778 4.44434L28.5555 4.44434" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
              <path d="M0.999985 28.5557L6.16665 28.5557" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
              <path d="M0.999977 4.44434L7.88887 4.44434" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
              <path d="M13.0555 28.5557L28.5555 28.5557" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
              <path d="M23.3889 16.5L28.5555 16.5" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
              <path d="M0.999977 16.5L16.5 16.5" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
              <circle cx="11.3333" cy="4.44444" r="3.44444" transform="rotate(90 11.3333 4.44444)" stroke="#212529"
                      stroke-width="1.5" stroke-linecap="round"/>
              <circle cx="19.9444" cy="16.5001" r="3.44444" transform="rotate(90 19.9444 16.5001)" stroke="#212529"
                      stroke-width="1.5" stroke-linecap="round"/>
              <circle cx="9.6111" cy="28.5558" r="3.44444" transform="rotate(90 9.6111 28.5558)" stroke="#212529"
                      stroke-width="1.5" stroke-linecap="round"/>
            </svg>
          </a>
          <button type="button" class="btn btn-pref text-white rounded-3">Применить</button>
        </div>

      </div>


      <div class="row konf-information" style="margin-bottom: 20px;">

        <div class="row conf-info-section-item">
          <div class="col-3 conf-info-section">
            <div class="conf-section-title text-center text-white rounded-3">Фамилия И.О.</div>
          </div>
          <div class="col-2 conf-info-section" style="padding-left: 5px;">
            <div class="conf-section-title text-center text-white rounded-3">Телефон</div>
          </div>
          <div class="col-2 conf-info-section" style="padding-left: 5px;">
            <div class="conf-section-title text-center text-white rounded-3">Почта</div>
          </div>
          <div class="col-2 conf-info-section" style="padding-left: 5px;">
            <div class="conf-section-title text-center text-white rounded-3">Статус</div>
          </div>
          <div class="col-2 conf-info-section" style="padding-left: 5px;">
            <div class="conf-section-title text-center text-white rounded-3">Роль</div>
          </div>
          <div class="col-1 conf-info-section" style="padding-left: 5px;">
            <div class="conf-section-title text-center text-white rounded-3">Профиль</div>
          </div>
        </div>

        <div class="d-flex justify-content-center" *ngIf="this.users.length == 0">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <div class="row conf-info-section-item" *ngFor="let user of this.users">
          <div class="col-3 conf-info-section">
            <div class="users-list-text text-center text-black rounded-3">{{ user.lastName + ' ' + user.firstName + ' '
            + (user.middleName != '' ? user.middleName.charAt(0) + '.' : '') }}</div>
          </div>
          <div class="col-2 conf-info-section" style="padding-left: 5px;">
            <div class="users-list-text text-center text-black rounded-3">{{ user.phone }}</div>
          </div>
          <div class="col-2 conf-info-section" style="padding-left: 5px;">
            <div class="users-list-text text-center text-black rounded-3">{{ user.email }}</div>
          </div>
          <div class="col-2 conf-info-section" style="padding-left: 5px;">
            <div class="users-list-text text-center rounded-3" [style.color]="user.status == 'ACTIVE' ? 'green' : '#D80000'">{{ this.userStatusMap.get(user.status) }}</div>
          </div>
          <div class="col-2 conf-info-section" style="padding-left: 5px;">
            <div class="users-list-text text-center rounded-3" [style.color]="user.role == 'ADMIN' ? 'purple' : 'black'">{{ this.userRoleMap.get(user.role) }}</div>
          </div>
          <div class="col-1 conf-info-section" style="padding-left:5px; cursor: pointer">
            <div class="users-list-text text-center text-black rounded-3 download-pointer" (click)="openProfile(user.id)">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5002 13.5L19.0003 19" stroke="black" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <circle cx="8" cy="8" r="7.25" stroke="black" stroke-width="1.5"/>
              </svg>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- <section id="personal-account__client">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a [routerLink]="['']" (click)="logout()" class="button__exit">Выход</a>
        <div class="personal__information">

        </div>
        <div class="client__notes">
          <h1>История посещений</h1>
          <div class="rectangle__client">
            <div class="row">
              <div class="col-md-3">
                <div class="review-tab"><h3>Дата</h3></div>
              </div>
              <div class="col-md-3">
                <div class="review-tab"><h3>Услуга</h3></div>
              </div>
              <div class="col-md-3">
                <div class="review-tab"><h3>Цена</h3></div>
              </div>
              <div class="col-md-3">

              </div>
              <div class="review-scroll">
                <div class="review-list">
                  <div class="row" *ngFor="let order of this.orders">
                    <div class="col-md-3">
                      <div class="order-date">{{order.date}}</div>
                    </div>
                    <div class="col-md-3">
                      <div class="order-service">{{order.service.name}}</div>
                    </div>
                    <div class="col-md-3">
                      <div class="order-price">{{order.price}}</div>
                    </div>
                    <div class="col-md-3">
                      <div *ngIf="!order.status" class="order-review-work">В работе</div>
                      <button (click)="updateCurrentOrder(order.id)" type="button"
                              *ngIf="order.status && order.grade == 0"
                              class="button__order-review" data-bs-toggle="modal" data-bs-target="#windowReview"><span>Оценить</span>
                      </button>
                      <div *ngIf="order.status && order.grade > 0" class="order-review-complete">Готово</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="view__process">
          <h1>Наблюдать за процессом</h1>
          <div class="video">
                       <iframe width="632" height="364" src="https://www.youtube.com/embed/5g41cpe2d7M"
                               title="YouTube video player"
                               frameborder="0"
                               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                               allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<!-- FORM REVIEW -->
<!-- <div class="modal fade" id="windowReview" tabindex="-1" aria-labelledby="windowCode" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="code">
      <div class="modal-content" id="background__review">
        <h5 class="modal-title">Отзыв</h5>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="title__review">
                  <img src="../../../assets/pictures/modal/logotip.png">
                  <div class="text__review">
                    <h3>{{currentOrder.carWash.name}}</h3>
                    <button class="rectangle__address">{{currentOrder.carWash.location}}</button>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <form [formGroup]="formReview">
                  <div class="form-group col-12">
                    <h5>Поделитесь своими впечатлениями об этом месте</h5>
                    <p><textarea formControlName="text"></textarea></p>
                    <div class="rating-area">
                      <input type="radio" id="star-5" name="rating" value="5" (click)="getGrade(5)">
                      <label for="star-5" title="Оценка «5»"></label>
                      <input type="radio" id="star-4" name="rating" value="4" (click)="getGrade(4)">
                      <label for="star-4" title="Оценка «4»"></label>
                      <input type="radio" id="star-3" name="rating" value="3" (click)="getGrade(3)">
                      <label for="star-3" title="Оценка «3»"></label>
                      <input type="radio" id="star-2" name="rating" value="2" (click)="getGrade(2)">
                      <label for="star-2" title="Оценка «2»"></label>
                      <input checked type="radio" id="star-1" name="rating" value="1" (click)="getGrade(1)">
                      <label for="star-1" title="Оценка «1»"></label>
                    </div>
                  </div>
                  <button type="submit" id="button__save" data-bs-target="#windowReview" data-bs-dismiss="modal"
                          (click)="saveReview()">
                    Сохранить
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
