#personal-account__client {
  background: url(../../../assets/pictures/home/pattern.svg);
}

.main {
  background: url(../../../assets/pictures/home/page.svg);
  padding: 110px 35px 0px 35px;
  box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 50px;
  min-height: 100vh;
}

.konf-pref  {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  margin-bottom: 20px;
  height: 80px;
}

.input-search {
  height: 47px;
  margin-left: 20px;
  width: 20vw;
  min-width: 100px;
  background: rgba(255, 255, 255, 0.5);
  border: #8C99B9 solid 1px;
}

.pref-options {
  margin-left: 20px;
}



.btn-pref {
  background-color: #212529;
  height: 47px;
  border-radius: 0;
  font-size: 16px;
  margin-left: 20px;
}
.btn-pref-add {
  background-color: #212529;
  height: 47px;
  width: 47px;
  border-radius: 0;
  font-size: 16px;
  margin-left: 20px;
}


.konf-list  {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3px;
}


.konf-item {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
  padding: 0px;
  position: relative;

}

.konf-item-outer {
  z-index: 0;
  padding: 6px;
  position: relative;
}

.img-info-conf img {
  width: 100%;
  border: #8C99B9 solid 1px;
  border-bottom: 0px;
}

.general-info-conf {
  width: 100%;
  border: #8C99B9 solid 1px;
  padding: 10px;
}

.konf-name {
  font-size: 24px !important;
  font-weight: 400 !important;
  margin-bottom: 20px;
  background-color: #8C99B9;
  padding: 10px;
}

.konf-organization {
  font-size: 20px !important;
  font-weight: 500 !important;
  margin-bottom: 25px;
}

.second-info-conf {
  border: #8C99B9 solid 1px;
  border-top: 0px;
  padding: 10px;
}

.btn-konf {
  background-color: #212529;
  height: 36px;
  max-width:  100px;
  border-radius: 0;
  font-size: 16px;
  margin: 20px 10px 3px 0px;
}



.konf-status {
  margin-top: 5px;
  font-size: 16px !important;
  font-weight: 400 !important;
  bottom: 30px;
}

.konf-timeDate {
  margin-top: 5px;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.form-select {

}

.conf-section-title {
  padding: 13px;
  height: 47px;
  background-color: #8C99B9;
}

.conf-info-section-item {
  display: contents;
}

.conf-info-section {
  font-size: 20px !important;
  font-weight: 400 !important;
  margin-bottom: 5px;
  padding: 0px;

}

.konf-information {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;

}

.users-list-text {
  border: #8C99B9 solid 1px;
  background: rgb(255, 255, 255, 0.3);
  padding: 26px 13px;
  height: 74px;
  overflow: auto ;
  vertical-align: middle;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
  font-size: 16px !important;
}

.users-list-text-btn {
  cursor: pointer;
  font-size: 16px !important;
  border: #8C99B9 solid 1px;
  background: rgb(255, 255, 255, 0.3);
  padding: 8px;
  height: 37px;
  overflow: auto ;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
}

.users-list-text-btn:hover {
  opacity: 0.8;
}

.users-list-text::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* #personal-account__client {
  background-image: url("../../../assets/pictures/modal/Background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  width: 100vw;
  position: relative;
}

.button__exit {
  position: absolute;
  z-index: 1001;
  margin-left: 1350px;
  margin-top: 150px;
  text-decoration: none;
  color: #F6E22B;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

.client__notes {
  margin-top: 426px;
  width: 635px;
}

.client__notes h1 {
  color: var(--accent);
  font-weight: 900;
  text-transform: uppercase;
}

.rectangle__client {
  width: 632px;
  height: 365px;
  background: rgba(43, 43, 43, 0.37);
  backdrop-filter: blur(9px);
  border-radius: 25px;
  position: relative;
}

.review-tab {
  margin-top: 5px;
  margin-left: 25px;
}

.review-tab h3 {
  color:var(--accent);
  font-size: 1.2rem;
  font-weight: 600;
}

.review-scroll {
  height: 320px;
  width: 98%;
  overflow-x: hidden;
  overflow-y: auto;
}

.review-scroll::-webkit-scrollbar {
  width: 13px;
  background-color: #f6e22b00;
}

.review-scroll::-webkit-scrollbar-thumb {
  background-color: #f6e22b;
  border-radius: 24px;
}

.review-list {
  margin-left: 5px;
}

.order-date {
  background-color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark);
  margin-top: 5px;
  padding-top: 3px;
  padding-left: 20px;
  text-align: left;
  border-radius: 5px;
  border: 0;
  width: 120%;
  height: 45px;
}

.order-service {
  background-color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark);
  margin-top: 5px;
  padding-top: 3px;
  padding-left: 20px;
  text-align: left;
  border-radius: 5px;
  border: 0;
  width: 120%;
  height: 45px;
}

.order-price {
  background-color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark);
  margin-top: 5px;
  padding-top: 3px;
  padding-left: 20px;
  text-align: left;
  border-radius: 5px;
  border: 0;
  width: 90%;
  height: 45px;
}

.button__order-review {
  background-color:#F6E22B;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark);
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  width: 90%;
  height: 45px;
}

.order-review-work {
  background-color: var(--work);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark);
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  width: 90%;
  height: 45px;
}

.order-review-complete {
  background-color: var(--complete);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark);
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  width: 90%;
  height: 45px;
}

.button__review {
  width: 225px;
  height: 47px;
  background: var(--accent);
  box-shadow: 0 4px 25px var(--accent);
  border-radius: 44px;
  font-weight: 700;
  font-size: 23px;
  color: var(--dark);
  margin: 172px 41px;
  border: 0;
}

.view__process {
  margin-top: 426px;
  float: right;
}

.view__process h1 {
  color: var(--accent);
  font-weight: 900;
  text-transform: uppercase;
}

.video iframe {
  border-radius: 25px;
}

.modal-body {
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
}

#background__review {
  background-image: url("../../../assets/pictures/modal/Background2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 838px;
  height: 519px;
  background-color:rgba(0,0,0,.9);
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 139px var(--accent);
  border: 0;
}

.form-group h5 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 35px;
}

.form-group textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
}

.modal-title {
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-top: 70px;
  font-size: 41px;
  color: var(--accent);
}

.modal  {
  background:rgba(0,0,0,.4);
  backdrop-filter: blur(7px);
}

#button__save {
  float: right;
  width: 150px;
  height: 47px;
  background: var(--accent);
  box-shadow: 0 4px 25px var(--accent);
  border-radius: 44px;
  color: var(--dark);
  font-weight: 700;
  font-size: 20px;
  border: 0;
  margin-top: 10px;
}

.rating-area {
  overflow: hidden;
  width: 265px;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 49px;
  padding: 0;
  cursor: pointer;
  font-size: 49px;
  line-height: 49px;
  color: #C4C4C4;
  text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
  content: '★';
 margin-left: -20px;
}
.rating-area > input:checked ~ label {
  color: var(--accent);
  text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: var(--accent);
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: var(--accent);
  text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
  position: relative;
}

.title__review img {
  float: left;
  width: 66px;
  height: 66px;
  margin-top: 10px;
}

.title__review h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.rectangle__address {
  width: auto;
  height: 26px;
  background: var(--accent);
  border-radius: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--dark);
  border: 0;
}

.text__review {
  margin-left: 14px;
  margin-top: 10px;
  float: right;
} */
