<footer class="p-3 bg-dark text-white border-bottom">
  <div class="container">
    <div class="d-flex justify-content-around align-items-center">
      <div class="head-text">
        По вопросам работы системы:
      </div>

      <div class="head-text">
        <a href="https://t.me/glumovaes" target="_blank" rel="noopener noreferrer" class="nav-link text-white">
          <img class="icon bi me-2" height="40" src="/assets/pictures/footer/telegram-white.svg" alt="Telegram">
          Глумова Екатерина
        </a>
      </div>

      <div class="head-text">
        <a href="https://t.me/tmn1ght" target="_blank" rel="noopener noreferrer" class="nav-link text-white">
          <img class="icon bi me-2" height="40" src="/assets/pictures/footer/telegram-white.svg" alt="Telegram">
          Моисеев Даниил
        </a>
      </div>
    </div>
  </div>
</footer>
