<div class="auth-form-field" *ngIf="!hideLabel" [class.auth-form-field--error]="showErrorVisual()">
  <label [attr.for]="inputId || id" class="auth-form-field__label">
    {{ label }}
  </label>
  <p-password
    [feedback]="feedback"
    [fluid]="true"
    [toggleMask]="toggleMask"
    [id]="id"
    [inputId]="inputId || id"
    [formControl]="control"
    [placeholder]="placeholder"
    [attr.aria-required]="required ? 'true' : null"
    [ngClass]="{ 'auth-password--error': showErrorVisual() }"
    [promptLabel]="'Введите пароль'"
    [weakLabel]="'Слабый'"
    [mediumLabel]="'Средний'"
    [strongLabel]="'Надёжный'"
    (animationstart)="onPasswordAutofillAnimation($event)"
  />
</div>

<div
  class="auth-form-field auth-form-field--control-only"
  *ngIf="hideLabel"
  [class.auth-form-field--error]="showErrorVisual()"
>
  <p-password
    [feedback]="feedback"
    [fluid]="true"
    [toggleMask]="toggleMask"
    [id]="id"
    [inputId]="inputId || id"
    [formControl]="control"
    [placeholder]="placeholder"
    [attr.aria-label]="ariaLabel"
    [attr.aria-required]="required ? 'true' : null"
    [ngClass]="{ 'auth-password--error': showErrorVisual() }"
    [promptLabel]="'Введите пароль'"
    [weakLabel]="'Слабый'"
    [mediumLabel]="'Средний'"
    [strongLabel]="'Надёжный'"
    (animationstart)="onPasswordAutofillAnimation($event)"
  />
</div>
