#container__main {
  background: url(/assets/pictures/home/pattern.svg);
}

.main {
  background-color: var(--old-bg-main);
  box-shadow: 0 0 5rem var(--old-bg-shadow);
  padding: 110px 35px 20px 35px;
  min-height: 100vh;
}

.card {
  background: var(--old-bg-card);
  border: 1px solid var(--old-accent);
  /*backdrop-filter: blur(2px);*/
}

.card-header {
  background: var(--old-accent) !important;
  color: var(--old-text-primary-color) !important;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--old-border-black);
}

.breadcrumb-item.active {
  color: var(--old-h1-accent) !important;
}

.text-primary {
  color: var(--old-h1-accent) !important;
}

.btn-primary {
  background: var(--old-accent);
  border-color: var(--old-accent-hover);
}

.btn-primary:hover {
  background: var(--old-accent-hover);
}

.form-control, .form-select {
  border: 1px solid var(--old-accent);
  background: var(--old-bg-card);
}

.form-control:disabled,
.form-control:not(.form-control-conference,.form-control-section):read-only,
.form-select:disabled {
  border-color: var(--old-text-disabled) !important;
  color: var(--old-border-disabled) !important;
}

.readonly-style {
  background-color: var(--old-bg-row);
}

.bi {
  font-size: 1.1em;
  vertical-align: middle;
}

/* Мобильные */
@media (max-width: 767px) {
  .form-label {
    font-size: 0.9rem;
  }

}

.p-breadcrumb {
  background: transparent !important;
  border: none;
  padding: 0.5rem 0 !important;
  margin-bottom: 1.5rem !important;
}

::ng-deep .p-breadcrumb {
  background: transparent !important;
  border: none;
  padding: 0.5rem 0 !important;
  margin-bottom: 1.5rem !important;
}

::ng-deep .p-breadcrumb .p-menuitem-text {
  color: var(--old-h1-accent);
}
