::ng-deep .password-rules-popover {
  font-family: inherit;
}

::ng-deep .password-rules-popover .p-popover-content {
  padding: 0;
}

.popover-content {
  padding: 1rem;
}

.popover-header {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #dee2e6;
}

.popover-title {
  font-size: 1.1rem;
  margin: 0;
}

.popover-body {
  padding: 1rem;
}

input[type="text"],
input[type="password"] {
  border-image: none !important;
  border-style: solid !important;
}

.border-accent:focus {
  border-color: var(--old-h1-accent) !important;
}

.border-accent:not(:focus) {
  border-color: var(--old-accent) !important;
}
