<div class="d-flex align-items-center gap-3">
  <div class="dropdown">
    <button
      class="btn btn-outline-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      data-bs-auto-close="outside"
    >
      <i class="bi bi-gear me-2"></i>
      Администраторы
    </button>
    <ul class="dropdown-menu dropdown-menu-end p-3" [formGroup]="formGroup">
      <li *ngFor="let user of admins">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [formControlName]="'admin' + user.id"
            [id]="'admin' + user.id"
            (change)="onAdminCheckboxChange()"
          />
          <label class="form-check-label" [for]="'admin' + user.id">
            {{ user.firstName }} {{ user.lastName }}
          </label>
        </div>
      </li>
    </ul>
  </div>
</div>
