/* You can add global styles to this file, and also import other style files */

/*@font-face {
  font-family: Gilroy-Light;
  src: url(../../../SwooshUI/SwooshUI/src/assets/fonts/Gilroy-Light.otf) format("truetype");
  font-family: "Gilroy";
  font-weight: ;
}*/

/* USER VARIABLES SECTION */
:root {
  --accent: #F6E22B;
  --work: #ff8484;
  --complete: #a9ff94;
  --text: #fff;
  --dark: #000;
  --regular-text: 16px;
  --line-height: 19px;
  --userfont: Gilroy-wt, sans-serif;

  --old-bg-shadow: rgba(0, 0, 0, 0.5);
  --old-bg-main: #e3e3e3;
  --old-bg-card: rgba(255, 255, 255, 0.95);
  --old-bg-card-darker-7: rgba(255, 255, 255, 0.7);
  --old-bg-card-darker-5: rgba(255, 255, 255, 0.5);
  --old-bg-card-darker-3: rgba(255, 255, 255, 0.3);
  --old-bg-row: #f8f9fa;
  --old-accent: #8C99B9;
  --old-accent-hover: #7e8bab;
  --old-h1-accent: #33486e;
  --old-border-white: #dee2e6;
  --old-border-black: rgba(0, 0, 0, 0.1);
  --old-border-black-light-1: rgba(255, 255, 255, 0.1);
  --old-border-black-light-2: rgba(255, 255, 255, 0.2);
  --old-success: #28a745;
  --old-danger: #dc3545;
  --old-text-primary-color: #fff;
  --old-text-secondary-color: #6c757d;
  --old-text-disabled: rgba(128, 128, 128, 0.8);
  --old-border-disabled: rgba(128, 128, 128, 0.8);

  --my-bg: #F5F5F7;
  --my-bg-card: #FFFFFF;
  --my-accent: #6C8EBF;
  --my-accent-hover: #6C8EBF;
  --my-text-primary: #333333;
  --my-text-secondary: #666666;
  --my-borders: #D1D1D6;
}

/* доп хедер после авторизации */
.fixed-top {
  box-shadow: #000 0 0 25px;
}

.head-text {
  font-size: 18px;
  cursor: pointer;
}

/* gutter 30px (15px + 15px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: .5rem;
}

.row, .row > * {
  --bs-gutter-x: 1rem;
}

/* FONTS LOAD SECTION */


/* GENERAL CSS SETTINGS */
input {
  outline: none;
}

/*input:focus:required:invalid {*/
/*  border: 2px red;*/
/*}*/

/*input:focus, input:required, input:invalid {*/
/*  border: 2px red;*/
/*}*/

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  font-family: var(--userfont), sans-serif;
  font-size: var(--regular-text);
  line-height: var(--line-height);
  color: var(--text);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--dark);
}

.input__modal {
  background-color: var(--old-text-primary-color);
  width: 373px;
  height: 37px;
  border-radius: 5px;
  border: 0;
}

select {
  background-color: var(--old-text-primary-color);
  width: 373px;
  height: 37px;
  border-radius: 5px;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1436px;
    padding: 0;
  }
}

.has-error span > span {
  color: red;
}

.has-error input {
  border-color: red !important;
  color: red;
}

.has-error textarea {
  border-color: red !important;
  color: red;
}

.text-break {
  word-break: break-word;
  overflow-wrap: anywhere;
}

.message a {
  text-decoration: underline;
  word-break: break-all;
}

.message-link {
  color: #007bff;
}

.message-link:hover {
  color: #0056b3;
}

.message-link-dark {
  color: #cedeff;
}

.message-link-dark:hover {
  color: #b2d3ff;
  text-decoration: none;
}
